<aside class="sticky sidebar" data-sticky data-top-anchor="utility-bar:bottom" data-btm-anchor="footer:top">
  <span>
    <strong>
      <h4 class="mini-toc-header">Table Of Contents</h4>
    </strong>

    <button class="close-button hide-for-large" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </span>

  <a href="#{{ anchorize ( .Title )}}">{{ .Title }}</a>

  {{ $yaml_files := index $.Site.Data .Params.data_path }}
  {{ $departments := slice }}

    {{ range $yamlfile := $yaml_files }}
      {{ $departments = $departments | append (slice $yamlfile.department ) | uniq }}
    {{ end }}
  <ul>
    {{ range $department := $departments }}
      <li><a href="#{{anchorize $department }}">{{ $department }}</a></li>
    {{ end }}
  </ul>
</aside>
