<div id="swiftype-modal">
  <div id="swiftype-modal-content">

    <div id="swiftype-modal-search-form" class="swiftype-search-form grid-x">
      <form class="cell auto">
        <input id="swiftype-search-form-modal" class="swiftype-search-input" placeholder="Search..." aria-label="Search this site" id="st-overlay-search-input" />
      </form>
      <button id="swiftype-close-button" class="cell shrink">
        close
      </button>
    </div>

    <div id="swiftype-lower-container" class="grid-container fluid">
      <div id="swiftype-modal-content-container" class="grid-x grid-margin-x">
        <!-- LEFT SIDEBAR -->
        <div id="swiftype-container-left-sidebar" class="cell small-12 medium-shrink">
          <button id="swiftype-custom-facets-toggle-button">
            <h3>Chef Product
              <span id="swiftype-custom-facets-toggle-caret" class="show-for-small-only">
                <i class="fas fa-caret-down"></i>
                <i class="fas fa-caret-up" style="display: none;"></i>
              </span>
            </h3>
          </button>
          <div id="swiftype-custom-facets">
            <ul>
              <li>
                <input type="checkbox" class="product-filter" name="chef-product" id="swiftype-facet-automate" value="automate">
                <label for="swiftype-facet-automate">Automate</label><br />
              </li>
              <li>
                <input type="checkbox" class="product-filter" name="chef-product" id="swiftype-facet-desktop" value="desktop">
                <label for="swiftype-facet-desktop">Desktop</label><br />
              </li>
              <li>
                <input type="checkbox" class="product-filter" name="chef-product" id="swiftype-facet-habitat" value="habitat">
                <label for="swiftype-facet-habitat">Habitat</label><br />
              </li>
              <li>
                <input type="checkbox" class="product-filter" id="swiftype-facet-infra">
                <label for="swiftype-facet-infra">Infra</label><br />
                <ul>
                  <li>
                    <input type="checkbox" class="product-filter" name="chef-product" id="swiftype-facet-client" value="client">
                    <label for="swiftype-facet-client">Infra Client</label><br />
                  </li>
                  <li>
                    <input type="checkbox" class="product-filter" name="chef-product" id="swiftype-facet-server" value="server">
                    <label for="swiftype-facet-server">Infra Server</label><br />
                  </li>
                </ul>
              </li>
              <li>
                <input type="checkbox" class="product-filter" name="chef-product" id="swiftype-facet-inspec" value="inspec">
                <label for="swiftype-facet-inspec">InSpec</label><br />
              </li>
              <li>
                <input type="checkbox" class="product-filter" name="chef-product" id="swiftype-facet-workstation" value="workstation">
                <label for="swiftype-facet-workstation">Workstation</label><br />
              </li>
            </ul>
          </div>
        </div>
        <!-- RESULTS CONTAINER -->
        <div id="swiftype-results-container" class="cell auto">
          <div id="swiftype-results-heading"><h3>Search Results</h3></div>
          <ul id="swiftype-search-results">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
