<aside class="sticky sidebar hide-for-print" data-sticky data-top-anchor="utility-bar:bottom" data-btm-anchor="page-content:bottom">
  <div id="table-of-contents">
    <span>
      <span class="mini-toc-nav">Table Of Contents</span>
      <button class="close-button hide-for-large" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </span>
    {{ if not (isset .Params "release_notes") }}
      <a href="#{{ anchorize ( .Title )}}">{{ .Title }}</a>
    {{ end }}
    {{- $toc := .TableOfContents -}}
    {{- safeHTML $toc -}}
  </div>
</aside>
