<nav id="utility-bar" class = "hide-for-print top-bar grid-x grid-padding-x">

  <div class="cell shrink">
    <a href="/" class="utility-bar-brand top-bar-left">
      <img src="{{ "images/progress-chef-primary-logo.svg" | relURL }}" alt="Chef Progress Logo" class="chef">
    </a>
  </div>

  <ul class="menu top-nav show-for-medium cell shrink">
    {{ range .Site.Menus.main }}
      {{ if eq .Identifier "chefconf" }}
        <li><a href="{{ .URL }}" class='chefconflink'>{{ .Title }}</a></li>
      {{ else }}
        <li><a href="{{ .URL }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>

  <button id="header-toggle" type="button" class="utility-bar-nav-bars show-for-small-only cell shrink" data-toggle="left-nav-off-canvas">
    <i class="fas fa-bars fa-lg"></i>
  </button>
</nav>
