{{ $product := .Params.version_docs_product }}
{{ $baseDir := .File.Dir }}
{{ $splitBaseDir := trim $baseDir "/" }}
{{ $LogicalName := .File.LogicalName }}

{{$formalProductName := ""}}
{{ if eq $product "chef" }}
  {{ $formalProductName = "Chef Infra Client" }}
{{ else if eq $product "chef-server" }}
  {{ $formalProductName = "Chef Infra Server" }}
{{ else if eq $product "chef-workstation" }}
  {{ $formalProductName = "Chef Workstation" }}
{{ else if eq $product "inspec" }}
  {{ $formalProductName = "Chef InSpec" }}
{{ else if eq $product "habitat" }}
  {{ $formalProductName = "Chef Habitat" }}
{{ else if eq $product "desktop-config" }}
  {{ $formalProductName = "Chef Desktop" }}
{{ else if eq $product "product_a" }}
  {{ $formalProductName = "Product A" }}
{{ else if eq $product "product_b" }}
  {{ $formalProductName = "Product B" }}
{{ else }}
  {{ errorf "No matching product name. Current valid version_docs_product values are chef-server, chef, chef-workstation, inspec, habitat, and desktop-config." }}
{{ end }}

{{ $versions := index .Site.Params.product_version $product }}
{{ range $version_index, $version := (sort $versions.versions "value" "desc") }}
  {{ $versionDir := delimit (slice "v" $version) "" }}
  {{/* $filePath := path.Join (slice "/" $splitBaseDir $versionDir $LogicalName) "/" */}}
  {{ $filePath := path.Join (slice "/" $splitBaseDir $versionDir) "/" }}

  {{ if not ($.Site.GetPage $filePath) }}
    {{ errorf "File does not exist %q." $filePath }}
  {{ end }}
  {{ with $.Site.GetPage $filePath }}
    <div class="chef-product-version {{$product}}_{{$version}}">
      {{ if gt $version_index 0 }}
      <div class="chef-product-version-not-newest">
        <p><strong>Note:</strong> You are viewing documentation for an older version of <span class="chef-product-version-name">{{$formalProductName}}</span>.</p>
      </div>
      {{ end }}

      {{ with (index (.Resources.Match $LogicalName) 0) }}
        {{ $pageText := .Content }}
        {{ $replacementID := delimit (slice `<$1-` $version `"`) "" }}
        {{ $pageText := replaceRE `<(h\d id="[\w\-]+)"` $replacementID $pageText }}
        {{ $pageText = delimit (slice ( partial "edit_on_github" . ) $pageText ) ""}}
        {{ safeHTML $pageText }}
      {{ end }}

    </div>
  {{ end }}
{{ end }}