<p>Use the <code>registry_data_exists?</code> method to find out if a Microsoft Windows registry key contains the specified data of the specified type under the value.</p>
<div class="note">
<div class="admonition-title">
<p>Note</p>
</div>
</div>
<p>This method can be used in recipes and from within the <code>not_if</code> and <code>only_if</code> blocks in resources. This method is not designed to create or modify a registry key. If a registry key needs to be modified, use the <strong>registry_key</strong> resource.</p>
<p>The syntax for the <code>registry_data_exists?</code> method is as follows:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>registry_data_exists?(</span>
<span id="cb1-2"><a href="#cb1-2"></a>  <span class="dt">KEY_PATH</span>,</span>
<span id="cb1-3"><a href="#cb1-3"></a>  { <span class="st">name: &#39;NAME&#39;</span>, <span class="st">type: </span><span class="dt">TYPE</span>, <span class="st">data: </span><span class="dt">DATA</span> },</span>
<span id="cb1-4"><a href="#cb1-4"></a>  <span class="dt">ARCHITECTURE</span></span>
<span id="cb1-5"><a href="#cb1-5"></a>)</span></code></pre></div>
<p>where:</p>
<ul>
<li><code>KEY_PATH</code> is the path to the registry key value. The path must include the registry hive, which can be specified either as its full name or as the 3- or 4-letter abbreviation. For example, both <code>HKLM\SECURITY</code> and <code>HKEY_LOCAL_MACHINE\SECURITY</code> are both valid and equivalent. The following hives are valid: <code>HKEY_LOCAL_MACHINE</code>, <code>HKLM</code>, <code>HKEY_CURRENT_CONFIG</code>, <code>HKCC</code>, <code>HKEY_CLASSES_ROOT</code>, <code>HKCR</code>, <code>HKEY_USERS</code>, <code>HKU</code>, <code>HKEY_CURRENT_USER</code>, and <code>HKCU</code>.</li>
<li><code>{ name: 'NAME', type: TYPE, data: DATA }</code> is a hash that contains the expected name, type, and data of the registry key value</li>
<li><code>type:</code> represents the values available for registry keys in Microsoft Windows. Use <code>:binary</code> for REG_BINARY, <code>:string</code> for REG_SZ, <code>:multi_string</code> for REG_MULTI_SZ, <code>:expand_string</code> for REG_EXPAND_SZ, <code>:dword</code> for REG_DWORD, <code>:dword_big_endian</code> for REG_DWORD_BIG_ENDIAN, or <code>:qword</code> for REG_QWORD.</li>
<li><code>ARCHITECTURE</code> is one of the following values: <code>:x86_64</code>, <code>:i386</code>, or <code>:machine</code>. Set to <code>:i386</code> to read or write 32-bit registry keys on 64-bit machines running Microsoft Windows. Set to<code>:x86_64</code> to force write to a 64-bit registry location, however Chef Infra Client returns an exception if <code>:x86_64</code> is used on a 32-bit machine. Set to <code>:machine</code> to allow Chef Infra Client to allow Chef Infra Client to use the appropriate key location based on your node’s architecture. Default value: <code>:machine</code>.</li>
</ul>
<p>This method will return <code>true</code> or <code>false</code>.</p>
