<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>gem_package <span class="st">&#39;bundler&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  options(<span class="st">:prerelease</span> =&gt; <span class="dv">true</span>, <span class="st">:format_executable</span> =&gt; <span class="dv">false</span>)</span>
<span id="cb1-3"><a href="#cb1-3"></a><span class="kw">end</span></span></code></pre></div>
