<p>To send notifications to multiple resources, just use multiple attributes. Multiple attributes will get sent to the notified resources in the order specified.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>template <span class="st">&#39;/etc/netatalk/netatalk.conf&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  notifies <span class="st">:restart</span>, <span class="st">&#39;service[afpd]&#39;</span>, <span class="st">:immediately</span></span>
<span id="cb1-3"><a href="#cb1-3"></a>  notifies <span class="st">:restart</span>, <span class="st">&#39;service[cnid]&#39;</span>, <span class="st">:immediately</span></span>
<span id="cb1-4"><a href="#cb1-4"></a><span class="kw">end</span></span>
<span id="cb1-5"><a href="#cb1-5"></a></span>
<span id="cb1-6"><a href="#cb1-6"></a>service <span class="st">&#39;afpd&#39;</span></span>
<span id="cb1-7"><a href="#cb1-7"></a>service <span class="st">&#39;cnid&#39;</span></span></code></pre></div>
