<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>template <span class="st">&#39;/etc/www/configures-apache.conf&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  notifies <span class="st">:restart</span>, <span class="st">&#39;service[apache]&#39;</span>, <span class="st">:immediately</span></span>
<span id="cb1-3"><a href="#cb1-3"></a><span class="kw">end</span></span></code></pre></div>
