<p>Atomic updates are used with <strong>file</strong>-based resources to help ensure that file updates can be made when updating a binary or if disk space runs out.</p>
<p>Atomic updates are enabled by default. They can be managed globally using the <code>file_atomic_update</code> setting in the client.rb file. They can be managed on a per-resource basis using the <code>atomic_update</code> property that is available with the <strong>cookbook_file</strong>, <strong>file</strong>, <strong>remote_file</strong>, and <strong>template</strong> resources.</p>
<div class="note">
<div class="admonition-title">
<p>Note</p>
</div>
<p>On certain platforms, and after a file has been moved into place, Chef Infra Client may modify file permissions to support features specific to those platforms. On platforms with SELinux enabled, Chef Infra Client will fix up the security contexts after a file has been moved into the correct location by running the <code>restorecon</code> command. On the Microsoft Windows platform, Chef Infra Client will create files so that ACL inheritance works as expected.</p>
</div>
