<p>Use the <code>render</code> method in a template to reference a partial template file:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>&lt;%= render <span class="st">&#39;partial_name.txt.erb&#39;</span>, <span class="st">:option</span> =&gt; {} %&gt;</span></code></pre></div>
<p>where <code>partial_name</code> is the name of the partial template file and <code>:option</code> is one (or more) of the following:</p>
<table>
<colgroup>
<col style="width: 12%" />
<col style="width: 87%" />
</colgroup>
<thead>
<tr class="header">
<th>Option</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>:cookbook</code></td>
<td>By default, a partial template file is assumed to be located in the cookbook that contains the top-level template. Use this option to specify the path to a different cookbook</td>
</tr>
<tr class="even">
<td><code>:local</code></td>
<td>Indicates that the name of the partial template file should be interpreted as a path to a file in the local file system or looked up in a cookbook using the normal rules for template files. Set to <code>true</code> to interpret as a path to a file in the local file system and to <code>false</code> to use the normal rules for template files</td>
</tr>
<tr class="odd">
<td><code>:source</code></td>
<td>By default, a partial template file is identified by its file name. Use this option to specify a different name or a local path to use (instead of the name of the partial template file)</td>
</tr>
<tr class="even">
<td><code>:variables</code></td>
<td>A hash of <code>variable_name =&gt; value</code> that will be made available to the partial template file. When this option is used, any variables that are defined in the top-level template that are required by the partial template file must have them defined explicitly using this option</td>
</tr>
</tbody>
</table>
<p>For example:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb2-1"><a href="#cb2-1"></a>&lt;%= render <span class="st">&#39;simple.txt.erb&#39;</span>, <span class="st">:variables</span> =&gt; {<span class="st">:user</span> =&gt; <span class="dt">Etc</span>.getlogin }, <span class="st">:local</span> =&gt; <span class="dv">true</span> %&gt;</span></code></pre></div>
