<!doctype html>
<html lang="en">
{{ partial "docs/head" . }}
<body>
  <div class="off-canvas-wrapper has-sidebar">
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="cell small-12">
        {{ partial "chef-sh/utility-bar" . }}
      </div>
      <div id="menu" class="cell small-12" data-sticky-container>
        {{ partial "docs/header" . }}
      </div>
      <div id="main-content" class="cell small-12" data-sticky-container>
        <div class="grid-container">
          <div class="grid-x">
            <div class="cell medium-3 col-sidebar">
              {{ partial "docs/sidebar" . }}
            </div>
            <div id="main-content-col" class="cell medium-9 col-content">
              {{ block "main" . }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div id="footer" class="cell small-12">
        <div class="grid-x">
          <div class="cell small-12">
            <nav>
              {{ partial "chef-sh/footer" . }}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ "js/scripts-all.js" | relURL }}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script type="text/javascript">
    docsearch({
      apiKey: '3f16191e15b2b4a4b0823c9f856e2de2',
      indexName: 'chef_sh',
      inputSelector: '#doc-search',
      debug: false // Set debug to true if you want to inspect the dropdown
    });
  </script>
</body>
</html>
