<p>When chef-shell is configured to access a Chef Infra Server, chef-shell can list, show, search for and edit cookbooks, clients, nodes, roles, environments, and data bags.</p>
<p>The syntax for managing objects on the Chef Infra Server is as follows:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1"></a>$ <span class="ex">chef-shell</span> -z named_configuration</span></code></pre></div>
<p>where:</p>
<ul>
<li><code>named_configuration</code> is an existing configuration file in <code>~/.chef/named_configuration/chef_shell.rb</code>, such as <code>production</code>, <code>staging</code>, or <code>test</code></li>
</ul>
<p>Once in chef-shell, commands can be run against objects as follows:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1"></a>$ <span class="ex">chef</span> (preprod) <span class="op">&gt;</span> <span class="ex">items.command</span></span></code></pre></div>
<ul>
<li><code>items</code> is the type of item to search for: <code>cookbooks</code>, <code>clients</code>, <code>nodes</code>, <code>roles</code>, <code>environments</code> or a data bag</li>
<li><code>command</code> is the command: <code>list</code>, <code>show</code>, <code>find</code>, or <code>edit</code></li>
</ul>
<p>For example, to list all of the nodes in a configuration named "preprod":</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1"></a>$ <span class="ex">chef</span> (preprod) <span class="op">&gt;</span> <span class="ex">nodes.list</span></span></code></pre></div>
<p>to return something similar to:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb4-1"><a href="#cb4-1"></a>=<span class="op">&gt;</span> [<span class="ex">node</span>[i-f09a939b], node[i-049a936f], node[i-eaaaa581], node[i-9154b1fb],</span>
<span id="cb4-2"><a href="#cb4-2"></a>    <span class="ex">node</span>[i-6a213101], node[i-c2687aa9], node[i-7abeaa11], node[i-4eb8ac25],</span>
<span id="cb4-3"><a href="#cb4-3"></a>    <span class="ex">node</span>[i-9a2030f1], node[i-a06875cb], node[i-145f457f], node[i-e032398b],</span>
<span id="cb4-4"><a href="#cb4-4"></a>    <span class="ex">node</span>[i-dc8c98b7], node[i-6afdf401], node[i-f49b119c], node[i-5abfab31],</span>
<span id="cb4-5"><a href="#cb4-5"></a>    <span class="ex">node</span>[i-78b8ac13], node[i-d99678b3], node[i-02322269], node[i-feb4a695],</span>
<span id="cb4-6"><a href="#cb4-6"></a>    <span class="ex">node</span>[i-9e2232f5], node[i-6e213105], node[i-cdde3ba7], node[i-e8bfb083],</span>
<span id="cb4-7"><a href="#cb4-7"></a>    <span class="ex">node</span>[i-743c2c1f], node[i-2eaca345], node[i-aa7f74c1], node[i-72fdf419],</span>
<span id="cb4-8"><a href="#cb4-8"></a>    <span class="ex">node</span>[i-140e1e7f], node[i-f9d43193], node[i-bd2dc8d7], node[i-8e7f70e5],</span>
<span id="cb4-9"><a href="#cb4-9"></a>    <span class="ex">node</span>[i-78f2e213], node[i-962232fd], node[i-4c322227], node[i-922232f9],</span>
<span id="cb4-10"><a href="#cb4-10"></a>    <span class="ex">node</span>[i-c02728ab], node[i-f06c7b9b]]</span></code></pre></div>
<p>The <code>list</code> command can take a code block, which will applied (but not saved) to each object that is returned from the server. For example:</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb5-1"><a href="#cb5-1"></a>$ <span class="ex">chef</span> (preprod) <span class="op">&gt;</span> <span class="ex">nodes.list</span> {<span class="kw">|</span><span class="ex">n</span><span class="kw">|</span> <span class="ex">puts</span> <span class="st">&quot;#{n.name}: #{n.run_list}&quot;</span> }</span></code></pre></div>
<p>to return something similar to:</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb6-1"><a href="#cb6-1"></a>=<span class="op">&gt;</span> <span class="ex">i-f09a939b</span>: role[lb], role[preprod], recipe[aws]</span>
<span id="cb6-2"><a href="#cb6-2"></a>   <span class="ex">i-049a936f</span>: role[lb], role[preprod], recipe[aws]</span>
<span id="cb6-3"><a href="#cb6-3"></a>   <span class="ex">i-9154b1fb</span>: recipe[erlang], role[base], role[couchdb], role[preprod],</span>
<span id="cb6-4"><a href="#cb6-4"></a>   <span class="ex">i-6a213101</span>: role[chef], role[preprod]</span>
<span id="cb6-5"><a href="#cb6-5"></a>   <span class="co"># more...</span></span></code></pre></div>
<p>The <code>show</code> command can be used to display a specific node. For example:</p>
<div class="sourceCode" id="cb7"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb7-1"><a href="#cb7-1"></a>$ <span class="ex">chef</span> (preprod) <span class="op">&gt;</span> <span class="ex">load_balancer</span> = nodes.show(<span class="st">&#39;i-f09a939b&#39;</span>)</span></code></pre></div>
<p>to return something similar to:</p>
<div class="sourceCode" id="cb8"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb8-1"><a href="#cb8-1"></a>=<span class="op">&gt;</span> <span class="ex">node</span>[i-f09a939b]</span></code></pre></div>
<p>or:</p>
<div class="sourceCode" id="cb9"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb9-1"><a href="#cb9-1"></a>$ <span class="ex">chef</span> (preprod) <span class="op">&gt;</span> <span class="ex">load_balancer.ec2.public_hostname</span></span></code></pre></div>
<p>to return something similar to:</p>
<div class="sourceCode" id="cb10"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb10-1"><a href="#cb10-1"></a>=<span class="op">&gt;</span> <span class="st">&quot;ec2-111-22-333-44.compute-1.amazonaws.com&quot;</span></span></code></pre></div>
<p>The <code>find</code> command can be used to search the Chef Infra Server from the chef-shell. For example:</p>
<div class="sourceCode" id="cb11"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb11-1"><a href="#cb11-1"></a>$ <span class="ex">chef</span> (preprod) <span class="op">&gt;</span> <span class="ex">pp</span> nodes.find(:ec2_public_hostname =<span class="op">&gt;</span> <span class="st">&#39;ec2*&#39;</span>)</span></code></pre></div>
<p>A code block can be used to format the results. For example:</p>
<div class="sourceCode" id="cb12"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb12-1"><a href="#cb12-1"></a>$ <span class="ex">chef</span> (preprod) <span class="op">&gt;</span> <span class="ex">pp</span> nodes.find(:ec2_public_hostname =<span class="op">&gt;</span> <span class="st">&#39;ec2*&#39;</span>) {<span class="kw">|</span><span class="ex">n</span><span class="kw">|</span> <span class="ex">n.ec2.ami_id</span> } <span class="ex">and</span> nil</span></code></pre></div>
<p>to return something similar to:</p>
<div class="sourceCode" id="cb13"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb13-1"><a href="#cb13-1"></a>=<span class="op">&gt;</span> [<span class="st">&quot;ami-f8927a91&quot;</span>,</span>
<span id="cb13-2"><a href="#cb13-2"></a>    <span class="st">&quot;ami-f8927a91&quot;</span>,</span>
<span id="cb13-3"><a href="#cb13-3"></a>    <span class="st">&quot;ami-a89870c1&quot;</span>,</span>
<span id="cb13-4"><a href="#cb13-4"></a>    <span class="st">&quot;ami-a89870c1&quot;</span>,</span>
<span id="cb13-5"><a href="#cb13-5"></a>    <span class="st">&quot;ami-a89870c1&quot;</span>,</span>
<span id="cb13-6"><a href="#cb13-6"></a>    <span class="st">&quot;ami-a89870c1&quot;</span>,</span>
<span id="cb13-7"><a href="#cb13-7"></a>    <span class="st">&quot;ami-a89870c1&quot;</span></span>
<span id="cb13-8"><a href="#cb13-8"></a>    <span class="co"># and more...</span></span></code></pre></div>
<p>Or:</p>
<div class="sourceCode" id="cb14"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb14-1"><a href="#cb14-1"></a>$ <span class="ex">chef</span> (preprod) <span class="op">&gt;</span> <span class="ex">amis</span> = nodes.find(:ec2_public_hostname =<span class="op">&gt;</span> <span class="st">&#39;ec2*&#39;</span>) {<span class="kw">|</span><span class="ex">n</span><span class="kw">|</span> <span class="ex">n.ec2.ami_id</span> }</span>
<span id="cb14-2"><a href="#cb14-2"></a>$ <span class="ex">chef</span> (preprod) <span class="op">&gt;</span> <span class="ex">puts</span> amis.uniq.sort</span></code></pre></div>
<p>to return something similar to:</p>
<div class="sourceCode" id="cb15"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb15-1"><a href="#cb15-1"></a>=<span class="op">&gt;</span> <span class="ex">ami-4b4ba522</span></span>
<span id="cb15-2"><a href="#cb15-2"></a>   <span class="ex">ami-a89870c1</span></span>
<span id="cb15-3"><a href="#cb15-3"></a>   <span class="ex">ami-eef61587</span></span>
<span id="cb15-4"><a href="#cb15-4"></a>   <span class="ex">ami-f8927a91</span></span></code></pre></div>
