<p>This section contains a more detailed example of how Chef Infra Client manages recursive directory structures:</p>
<ul>
<li>A cookbook named <code>cumbria</code> that is used to build a website</li>
<li>A subfolder in the <code>/files/default</code> directory named <code>/website</code></li>
<li>A file named <code>index.html</code>, which is the root page for the website</li>
<li>Directories within <code>/website</code> named <code>/cities</code>, <code>/places</code>, and <code>/football</code>, which contains pages about cities, places, and football teams</li>
<li>A directory named <code>/images</code>, which contains images</li>
</ul>
<p>These files are placed in the <code>/files/default</code> directory in the <code>cumbria</code> cookbook, like this:</p>
<pre class="text"><code>cumbria
  /files
    /default
      /website
        index.html
        /cities
          carisle.html
          kendal.html
          penrith.html
          windermere.html
        /football
          carisle_united.html
        /images
          carisle_united.png
          furness_abbey.png
          hadrians_wall.png
          kendal.png
        /places
          furness_abbey.html
          hadrians_wall.html</code></pre>
<p>The <strong>remote_directory</strong> resource can be used to build a website using these files. This website is being run on an Apache web server. The resource would be similar to the following:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb2-1"><a href="#cb2-1"></a>remote_directory <span class="st">&quot;/var/www/html&quot;</span> <span class="kw">do</span></span>
<span id="cb2-2"><a href="#cb2-2"></a>  files_mode <span class="st">&#39;0440&#39;</span></span>
<span id="cb2-3"><a href="#cb2-3"></a>  files_owner <span class="st">&#39;yan&#39;</span></span>
<span id="cb2-4"><a href="#cb2-4"></a>  mode <span class="st">&#39;0770&#39;</span></span>
<span id="cb2-5"><a href="#cb2-5"></a>  owner <span class="st">&#39;hamilton&#39;</span></span>
<span id="cb2-6"><a href="#cb2-6"></a>  source <span class="st">&quot;website&quot;</span></span>
<span id="cb2-7"><a href="#cb2-7"></a><span class="kw">end</span></span></code></pre></div>
<p>When Chef Infra Client runs, the <strong>remote_directory</strong> resource will tell Chef Infra Client to copy the directory tree from the cookbook to the file system using the structure defined in cookbook:</p>
<pre class="text"><code>/var
  /www
    /html
      index.html
      /cities
        carisle.html
        kendal.html
        penrith.html
        windermere.html
      /football
        carisle_united.html
      /images
        carisle_united.png
        furness_abbey.png
        hadrians_wall.png
        kendal.png
      /places
        furness_abbey.html
        hadrians_wall.html</code></pre>
<p>Chef Infra Client will manage the permissions of the entire directory structure below <code>/html</code>, for a total of 12 files and 4 directories. For example:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb4-1"><a href="#cb4-1"></a><span class="ex">dr-xr-xr-x</span> 2 root     root 4096 /var/www/html</span>
<span id="cb4-2"><a href="#cb4-2"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/index.html</span>
<span id="cb4-3"><a href="#cb4-3"></a><span class="ex">drwxrwx---</span> 2 hamilton root 4096 /var/www/html/cities</span>
<span id="cb4-4"><a href="#cb4-4"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/cities/carlisle.html</span>
<span id="cb4-5"><a href="#cb4-5"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/cities/kendal.html</span>
<span id="cb4-6"><a href="#cb4-6"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/cities/penrith.html</span>
<span id="cb4-7"><a href="#cb4-7"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/cities/windermere.html</span>
<span id="cb4-8"><a href="#cb4-8"></a><span class="ex">drwxrwx---</span> 2 hamilton root 4096 /var/www/html/football</span>
<span id="cb4-9"><a href="#cb4-9"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/football/carlisle_united.html</span>
<span id="cb4-10"><a href="#cb4-10"></a><span class="ex">drwxrwx---</span> 2 hamilton root 4096 /var/www/html/images</span>
<span id="cb4-11"><a href="#cb4-11"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/images/carlisle_united/png</span>
<span id="cb4-12"><a href="#cb4-12"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/images/furness_abbey/png</span>
<span id="cb4-13"><a href="#cb4-13"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/images/hadrians_wall.png</span>
<span id="cb4-14"><a href="#cb4-14"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/images/kendal.png</span>
<span id="cb4-15"><a href="#cb4-15"></a><span class="ex">drwxrwx---</span> 2 hamilton root 4096 /var/www/html/places</span>
<span id="cb4-16"><a href="#cb4-16"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/places/furness_abbey.html</span>
<span id="cb4-17"><a href="#cb4-17"></a><span class="ex">dr--r-----</span> 1 yan      root 4096 /var/www/html/places/hadrians_wall.html</span></code></pre></div>
