<p>The <code>remote_file</code> resource on Windows supports accessing files from a remote SMB/CIFS share. The file name should be specified in the source property as a UNC path e.g. <code>\\myserver\myshare\mydirectory\myfile.txt</code>. This allows access to the file at that path location even if the Chef Infra Client process identity does not have permission to access the file. Credentials for authenticating to the remote system can be specified using the <code>remote_user</code>, <code>remote_domain</code>, and <code>remote_password</code> properties when the user that Chef Infra Client is running does not have access to the remote file. See the "Properties" section for more details on these options.</p>
<p><strong>Note</strong>: This is primarily for accessing remote files when the user that Chef Infra Client is running as does not have sufficient access, and alternative credentials need to be specified. If the user already has access, the credentials do not need to be specified. In a case where the local system and remote system are in the same domain, the <code>remote_user</code> and <code>remote_password</code> properties often do not need to be specified, as the user may already have access to the remote file share.</p>
<p>Examples:</p>
<p><strong>Access a file from a different domain account:</strong></p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>remote_file <span class="st">&quot;E:/domain_test.txt&quot;</span>  <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  source  <span class="st">&quot;\\\\myserver\\myshare\\mydirectory\\myfile.txt&quot;</span></span>
<span id="cb1-3"><a href="#cb1-3"></a>  remote_domain <span class="st">&quot;domain&quot;</span></span>
<span id="cb1-4"><a href="#cb1-4"></a>  remote_user <span class="st">&quot;username&quot;</span></span>
<span id="cb1-5"><a href="#cb1-5"></a>  remote_password <span class="st">&quot;password&quot;</span></span>
<span id="cb1-6"><a href="#cb1-6"></a><span class="kw">end</span></span></code></pre></div>
<p>OR</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb2-1"><a href="#cb2-1"></a>remote_file <span class="st">&quot;E:/domain_test.txt&quot;</span>  <span class="kw">do</span></span>
<span id="cb2-2"><a href="#cb2-2"></a>  source  <span class="st">&quot;\\\\myserver\\myshare\\mydirectory\\myfile.txt&quot;</span></span>
<span id="cb2-3"><a href="#cb2-3"></a>  remote_user <span class="st">&quot;domain\\username&quot;</span></span>
<span id="cb2-4"><a href="#cb2-4"></a>  remote_password <span class="st">&quot;password&quot;</span></span>
<span id="cb2-5"><a href="#cb2-5"></a><span class="kw">end</span></span></code></pre></div>
<p><strong>Access a file using a local account on the remote machine:</strong></p>
<div class="sourceCode" id="cb3"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb3-1"><a href="#cb3-1"></a>remote_file <span class="st">&quot;E:/domain_test.txt&quot;</span>  <span class="kw">do</span></span>
<span id="cb3-2"><a href="#cb3-2"></a>  source  <span class="st">&quot;\\\\myserver\\myshare\\mydirectory\\myfile.txt&quot;</span></span>
<span id="cb3-3"><a href="#cb3-3"></a>  remote_domain <span class="st">&quot;.&quot;</span></span>
<span id="cb3-4"><a href="#cb3-4"></a>  remote_user <span class="st">&quot;username&quot;</span></span>
<span id="cb3-5"><a href="#cb3-5"></a>  remote_password <span class="st">&quot;password&quot;</span></span>
<span id="cb3-6"><a href="#cb3-6"></a><span class="kw">end</span></span></code></pre></div>
<p>OR</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb4-1"><a href="#cb4-1"></a>remote_file <span class="st">&quot;E:/domain_test.txt&quot;</span>  <span class="kw">do</span></span>
<span id="cb4-2"><a href="#cb4-2"></a>  source  <span class="st">&quot;\\\\myserver\\myshare\\mydirectory\\myfile.txt&quot;</span></span>
<span id="cb4-3"><a href="#cb4-3"></a>  remote_user <span class="st">&quot;.\\username&quot;</span></span>
<span id="cb4-4"><a href="#cb4-4"></a>  remote_password <span class="st">&quot;password&quot;</span></span>
<span id="cb4-5"><a href="#cb4-5"></a><span class="kw">end</span></span></code></pre></div>
