<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>template <span class="st">&#39;/etc/chef/server.rb&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  source <span class="st">&#39;server.rb.erb&#39;</span></span>
<span id="cb1-3"><a href="#cb1-3"></a>  owner <span class="st">&#39;root&#39;</span></span>
<span id="cb1-4"><a href="#cb1-4"></a>  group <span class="st">&#39;root&#39;</span></span>
<span id="cb1-5"><a href="#cb1-5"></a>  mode <span class="st">&#39;0755&#39;</span></span>
<span id="cb1-6"><a href="#cb1-6"></a>  notifies <span class="st">:restart</span>, <span class="st">&#39;service[chef-solr]&#39;</span>, <span class="st">:delayed</span></span>
<span id="cb1-7"><a href="#cb1-7"></a>  notifies <span class="st">:restart</span>, <span class="st">&#39;service[chef-solr-indexer]&#39;</span>, <span class="st">:delayed</span></span>
<span id="cb1-8"><a href="#cb1-8"></a>  notifies <span class="st">:restart</span>, <span class="st">&#39;service[chef-server]&#39;</span>, <span class="st">:delayed</span></span>
<span id="cb1-9"><a href="#cb1-9"></a><span class="kw">end</span></span></code></pre></div>
