<p>A timer specifies the point during a Chef Infra Client run at which a notification is run. The following timers are available:</p>
<dl>
<dt><code>:before</code></dt>
<dd><p>Specifies that the action on a notified resource should be run before processing the resource block in which the notification is located.</p>
</dd>
<dt><code>:delayed</code></dt>
<dd><p>Default. Specifies that a notification should be queued up, and then executed at the end of a Chef Infra Client run.</p>
</dd>
<dt><code>:immediate</code>, <code>:immediately</code></dt>
<dd><p>Specifies that a notification should be run immediately, per resource notified.</p>
</dd>
</dl>
