<p>The <code>rights</code> property can be used in a recipe to manage access control lists (ACLs), which allow permissions to be given to multiple users and groups. Use the <code>rights</code> property can be used as many times as necessary; Chef Infra Client will apply them to the file or directory as required. The syntax for the <code>rights</code> property is as follows:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>rights permission, principal, option_type =&gt; value</span></code></pre></div>
<p>where</p>
<dl>
<dt><code>permission</code></dt>
<dd><p>Use to specify which rights are granted to the <code>principal</code>. The possible values are: <code>:read</code>, <code>:write</code>, <code>read_execute</code>, <code>:modify</code>, and <code>:full_control</code>.</p>
<p>These permissions are cumulative. If <code>:write</code> is specified, then it includes <code>:read</code>. If <code>:full_control</code> is specified, then it includes both <code>:write</code> and <code>:read</code>.</p>
<p>(For those who know the Microsoft Windows API: <code>:read</code> corresponds to <code>GENERIC_READ</code>; <code>:write</code> corresponds to <code>GENERIC_WRITE</code>; <code>:read_execute</code> corresponds to <code>GENERIC_READ</code> and <code>GENERIC_EXECUTE</code>; <code>:modify</code> corresponds to <code>GENERIC_WRITE</code>, <code>GENERIC_READ</code>, <code>GENERIC_EXECUTE</code>, and <code>DELETE</code>; <code>:full_control</code> corresponds to <code>GENERIC_ALL</code>, which allows a user to change the owner and other metadata about a file.)</p>
</dd>
<dt><code>principal</code></dt>
<dd><p>Use to specify a group or user name. This is identical to what is entered in the login box for Microsoft Windows, such as <code>user_name</code>, <code>domain\user_name</code>, or <code>user_name@fully_qualified_domain_name</code>. Chef Infra Client does not need to know if a principal is a user or a group.</p>
</dd>
<dt><code>option_type</code></dt>
<dd><p>A hash that contains advanced rights options. For example, the rights to a directory that only applies to the first level of children might look something like: <code>rights :write, 'domain\group_name', :one_level_deep =&gt; true</code>. Possible option types:</p>
<table>
<colgroup>
<col style="width: 12%" />
<col style="width: 87%" />
</colgroup>
<thead>
<tr class="header">
<th>Option Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>:applies_to_children</code></td>
<td>Specify how permissions are applied to children. Possible values: <code>true</code> to inherit both child directories and files; <code>false</code> to not inherit any child directories or files; <code>:containers_only</code> to inherit only child directories (and not files); <code>:objects_only</code> to recursively inherit files (and not child directories).</td>
</tr>
<tr class="even">
<td><code>:applies_to_self</code></td>
<td>Indicates whether a permission is applied to the parent directory. Possible values: <code>true</code> to apply to the parent directory or file and its children; <code>false</code> to not apply only to child directories and files.</td>
</tr>
<tr class="odd">
<td><code>:one_level_deep</code></td>
<td>Indicates the depth to which permissions will be applied. Possible values: <code>true</code> to apply only to the first level of children; <code>false</code> to apply to all children.</td>
</tr>
</tbody>
</table>
</dd>
</dl>
<p>For example:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb2-1"><a href="#cb2-1"></a>resource <span class="st">&#39;x.txt&#39;</span> <span class="kw">do</span></span>
<span id="cb2-2"><a href="#cb2-2"></a>  rights <span class="st">:read</span>, <span class="st">&#39;Everyone&#39;</span></span>
<span id="cb2-3"><a href="#cb2-3"></a>  rights <span class="st">:write</span>, <span class="st">&#39;domain\group&#39;</span></span>
<span id="cb2-4"><a href="#cb2-4"></a>  rights <span class="st">:full_control</span>, <span class="st">&#39;group_name_or_user_name&#39;</span></span>
<span id="cb2-5"><a href="#cb2-5"></a>  rights <span class="st">:full_control</span>, <span class="st">&#39;user_name&#39;</span>, <span class="st">:applies_to_children</span> =&gt; <span class="dv">true</span></span>
<span id="cb2-6"><a href="#cb2-6"></a><span class="kw">end</span></span></code></pre></div>
<p>or:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb3-1"><a href="#cb3-1"></a>rights <span class="st">:read</span>, [<span class="st">&#39;Administrators&#39;</span>,<span class="st">&#39;Everyone&#39;</span>]</span>
<span id="cb3-2"><a href="#cb3-2"></a>rights <span class="st">:full_control</span>, <span class="st">&#39;Users&#39;</span>, <span class="st">:applies_to_children</span> =&gt; <span class="dv">true</span></span>
<span id="cb3-3"><a href="#cb3-3"></a>rights <span class="st">:write</span>, <span class="st">&#39;Sally&#39;</span>, <span class="st">:applies_to_children</span> =&gt; <span class="st">:containers_only</span>, <span class="st">:applies_to_self</span> =&gt; <span class="dv">false</span>, <span class="st">:one_level_deep</span> =&gt; <span class="dv">true</span></span></code></pre></div>
<p>Some other important things to know when using the <code>rights</code> attribute:</p>
<ul>
<li>Only inherited rights remain. All existing explicit rights on the object are removed and replaced.</li>
<li>If rights are not specified, nothing will be changed. Chef Infra Client does not clear out the rights on a file or directory if rights are not specified.</li>
<li>Changing inherited rights can be expensive. Microsoft Windows will propagate rights to all children recursively due to inheritance. This is a normal aspect of Microsoft Windows, so consider the frequency with which this type of action is necessary and take steps to control this type of action if performance is the primary consideration.</li>
</ul>
<p>Use the <code>deny_rights</code> property to deny specific rights to specific users. The ordering is independent of using the <code>rights</code> property. For example, it doesn't matter if rights are granted to everyone is placed before or after <code>deny_rights :read, ['Julian', 'Lewis']</code>, both Julian and Lewis will be unable to read the document. For example:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb4-1"><a href="#cb4-1"></a>resource <span class="st">&#39;x.txt&#39;</span> <span class="kw">do</span></span>
<span id="cb4-2"><a href="#cb4-2"></a>  rights <span class="st">:read</span>, <span class="st">&#39;Everyone&#39;</span></span>
<span id="cb4-3"><a href="#cb4-3"></a>  rights <span class="st">:write</span>, <span class="st">&#39;domain\group&#39;</span></span>
<span id="cb4-4"><a href="#cb4-4"></a>  rights <span class="st">:full_control</span>, <span class="st">&#39;group_name_or_user_name&#39;</span></span>
<span id="cb4-5"><a href="#cb4-5"></a>  rights <span class="st">:full_control</span>, <span class="st">&#39;user_name&#39;</span>, <span class="st">:applies_to_children</span> =&gt; <span class="dv">true</span></span>
<span id="cb4-6"><a href="#cb4-6"></a>  deny_rights <span class="st">:read</span>, [<span class="st">&#39;Julian&#39;</span>, <span class="st">&#39;Lewis&#39;</span>]</span>
<span id="cb4-7"><a href="#cb4-7"></a><span class="kw">end</span></span></code></pre></div>
<p>or:</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb5-1"><a href="#cb5-1"></a>deny_rights <span class="st">:full_control</span>, [<span class="st">&#39;Sally&#39;</span>]</span></code></pre></div>
