<p>For example, the following code block will ensure the command is evaluated using the default interpreter as identified by Chef Infra Client:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>resource <span class="st">&#39;name&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  guard_interpreter <span class="st">:default</span></span>
<span id="cb1-3"><a href="#cb1-3"></a>  <span class="co"># code</span></span>
<span id="cb1-4"><a href="#cb1-4"></a><span class="kw">end</span></span></code></pre></div>
