<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>remote_file <span class="st">&#39;/tmp/couch.png&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  source <span class="st">&#39;http://couchdb.apache.org/img/sketch.png&#39;</span></span>
<span id="cb1-3"><a href="#cb1-3"></a>  action <span class="st">:nothing</span></span>
<span id="cb1-4"><a href="#cb1-4"></a><span class="kw">end</span></span>
<span id="cb1-5"><a href="#cb1-5"></a></span>
<span id="cb1-6"><a href="#cb1-6"></a>http_request <span class="st">&#39;HEAD http://couchdb.apache.org/img/sketch.png&#39;</span> <span class="kw">do</span></span>
<span id="cb1-7"><a href="#cb1-7"></a>  message <span class="st">&#39;&#39;</span></span>
<span id="cb1-8"><a href="#cb1-8"></a>  url <span class="st">&#39;http://couchdb.apache.org/img/sketch.png&#39;</span></span>
<span id="cb1-9"><a href="#cb1-9"></a>  action <span class="st">:head</span></span>
<span id="cb1-10"><a href="#cb1-10"></a>  <span class="kw">if</span> ::<span class="dt">File</span>.exist?(<span class="st">&#39;/tmp/couch.png&#39;</span>)</span>
<span id="cb1-11"><a href="#cb1-11"></a>    headers <span class="st">&#39;If-Modified-Since&#39;</span> =&gt; <span class="dt">File</span>.mtime(<span class="st">&#39;/tmp/couch.png&#39;</span>).httpdate</span>
<span id="cb1-12"><a href="#cb1-12"></a>  <span class="kw">end</span></span>
<span id="cb1-13"><a href="#cb1-13"></a>  notifies <span class="st">:create</span>, <span class="st">&#39;remote_file[/tmp/couch.png]&#39;</span>, <span class="st">:immediately</span></span>
<span id="cb1-14"><a href="#cb1-14"></a><span class="kw">end</span></span></code></pre></div>
