<p>The following arguments can be used with the <code>not_if</code> or <code>only_if</code> guard properties:</p>
<dl>
<dt><code>:user</code></dt>
<dd><p>Specify the user that a command will run as. For example:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>not_if <span class="st">&#39;grep adam /etc/passwd&#39;</span>, <span class="st">:user</span> =&gt; <span class="st">&#39;adam&#39;</span></span></code></pre></div>
</dd>
<dt><code>:group</code></dt>
<dd><p>Specify the group that a command will run as. For example:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb2-1"><a href="#cb2-1"></a>not_if <span class="st">&#39;grep adam /etc/passwd&#39;</span>, <span class="st">:group</span> =&gt; <span class="st">&#39;adam&#39;</span></span></code></pre></div>
</dd>
<dt><code>:environment</code></dt>
<dd><p>Specify a Hash of environment variables to be set. For example:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb3-1"><a href="#cb3-1"></a>not_if <span class="st">&#39;grep adam /etc/passwd&#39;</span>, <span class="st">:environment</span> =&gt; {</span>
<span id="cb3-2"><a href="#cb3-2"></a>  <span class="st">&#39;HOME&#39;</span> =&gt; <span class="st">&#39;/home/adam&#39;</span></span>
<span id="cb3-3"><a href="#cb3-3"></a>}</span></code></pre></div>
</dd>
<dt><code>:cwd</code></dt>
<dd><p>Set the current working directory before running a command. For example:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb4-1"><a href="#cb4-1"></a>not_if <span class="st">&#39;grep adam passwd&#39;</span>, <span class="st">:cwd</span> =&gt; <span class="st">&#39;/etc&#39;</span></span></code></pre></div>
</dd>
<dt><code>:timeout</code></dt>
<dd><p>Set a timeout for a command. For example:</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb5-1"><a href="#cb5-1"></a>not_if <span class="st">&#39;sleep 10000&#39;</span>, <span class="st">:timeout</span> =&gt; <span class="dv">10</span></span></code></pre></div>
</dd>
</dl>
