<p>If an explicit <code>gem_binary</code> parameter is not being used with the <code>gem_package</code> resource, it is preferable to provide the install options as a hash. This approach allows the provider to install the gem without needing to spawn an external gem process.</p>
<p>The following RubyGems options are available for inclusion within a hash and are passed to the RubyGems DependencyInstaller:</p>
<ul>
<li><code>:env_shebang</code></li>
<li><code>:force</code></li>
<li><code>:format_executable</code></li>
<li><code>:ignore_dependencies</code></li>
<li><code>:prerelease</code></li>
<li><code>:security_policy</code></li>
<li><code>:wrappers</code></li>
</ul>
<p>For more information about these options, see the RubyGems documentation: <a href="http://rubygems.rubyforge.org/rubygems-update/Gem/DependencyInstaller.html">http://rubygems.rubyforge.org/rubygems-update/Gem/DependencyInstaller.html</a>.</p>
