<p>The following example shows a series of fatal <code>Chef::Log</code> entries:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a><span class="kw">unless</span> node[<span class="st">&#39;splunk&#39;</span>][<span class="st">&#39;upgrade_enabled&#39;</span>]</span>
<span id="cb1-2"><a href="#cb1-2"></a>  <span class="dt">Chef</span>::<span class="dt">Log</span>.fatal(<span class="st">&#39;The chef-splunk::upgrade recipe was added to the node,&#39;</span>)</span>
<span id="cb1-3"><a href="#cb1-3"></a>  <span class="dt">Chef</span>::<span class="dt">Log</span>.fatal(<span class="st">&#39;but the attribute `node[&quot;splunk&quot;][&quot;upgrade_enabled&quot;]` was not set.&#39;</span>)</span>
<span id="cb1-4"><a href="#cb1-4"></a>  <span class="dt">Chef</span>::<span class="dt">Log</span>.fatal(<span class="st">&#39;I am bailing here so this node does not upgrade.&#39;</span>)</span>
<span id="cb1-5"><a href="#cb1-5"></a>  raise</span>
<span id="cb1-6"><a href="#cb1-6"></a><span class="kw">end</span></span>
<span id="cb1-7"><a href="#cb1-7"></a></span>
<span id="cb1-8"><a href="#cb1-8"></a>service <span class="st">&#39;splunk_stop&#39;</span> <span class="kw">do</span></span>
<span id="cb1-9"><a href="#cb1-9"></a>  service_name <span class="st">&#39;splunk&#39;</span></span>
<span id="cb1-10"><a href="#cb1-10"></a>  supports <span class="st">status: </span><span class="dv">true</span></span>
<span id="cb1-11"><a href="#cb1-11"></a>  action <span class="st">:stop</span></span>
<span id="cb1-12"><a href="#cb1-12"></a><span class="kw">end</span></span>
<span id="cb1-13"><a href="#cb1-13"></a></span>
<span id="cb1-14"><a href="#cb1-14"></a><span class="kw">if</span> node[<span class="st">&#39;splunk&#39;</span>][<span class="st">&#39;is_server&#39;</span>]</span>
<span id="cb1-15"><a href="#cb1-15"></a>  splunk_package = <span class="st">&#39;splunk&#39;</span></span>
<span id="cb1-16"><a href="#cb1-16"></a>  url_type = <span class="st">&#39;server&#39;</span></span>
<span id="cb1-17"><a href="#cb1-17"></a><span class="kw">else</span></span>
<span id="cb1-18"><a href="#cb1-18"></a>  splunk_package = <span class="st">&#39;splunkforwarder&#39;</span></span>
<span id="cb1-19"><a href="#cb1-19"></a>  url_type = <span class="st">&#39;forwarder&#39;</span></span>
<span id="cb1-20"><a href="#cb1-20"></a><span class="kw">end</span></span>
<span id="cb1-21"><a href="#cb1-21"></a></span>
<span id="cb1-22"><a href="#cb1-22"></a>splunk_installer splunk_package <span class="kw">do</span></span>
<span id="cb1-23"><a href="#cb1-23"></a>  url node[<span class="st">&#39;splunk&#39;</span>][<span class="st">&#39;upgrade&#39;</span>][<span class="st">&quot;</span><span class="ot">#{</span>url_type<span class="ot">}</span><span class="st">_url&quot;</span>]</span>
<span id="cb1-24"><a href="#cb1-24"></a><span class="kw">end</span></span>
<span id="cb1-25"><a href="#cb1-25"></a></span>
<span id="cb1-26"><a href="#cb1-26"></a><span class="kw">if</span> node[<span class="st">&#39;splunk&#39;</span>][<span class="st">&#39;accept_license&#39;</span>]</span>
<span id="cb1-27"><a href="#cb1-27"></a>  execute <span class="st">&#39;splunk-unattended-upgrade&#39;</span> <span class="kw">do</span></span>
<span id="cb1-28"><a href="#cb1-28"></a>    command <span class="st">&quot;</span><span class="ot">#{</span>splunk_cmd<span class="ot">}</span><span class="st"> start --accept-license --answer-yes&quot;</span></span>
<span id="cb1-29"><a href="#cb1-29"></a>  <span class="kw">end</span></span>
<span id="cb1-30"><a href="#cb1-30"></a><span class="kw">else</span></span>
<span id="cb1-31"><a href="#cb1-31"></a>  <span class="dt">Chef</span>::<span class="dt">Log</span>.fatal(<span class="st">&#39;You did not accept the license (set node[&quot;splunk&quot;][&quot;accept_license&quot;] to true)&#39;</span>)</span>
<span id="cb1-32"><a href="#cb1-32"></a>  <span class="dt">Chef</span>::<span class="dt">Log</span>.fatal(<span class="st">&#39;Splunk is stopped and cannot be restarted until the license is accepted!&#39;</span>)</span>
<span id="cb1-33"><a href="#cb1-33"></a>  raise</span>
<span id="cb1-34"><a href="#cb1-34"></a><span class="kw">end</span></span></code></pre></div>
<p>The full recipe is the <code>upgrade.rb</code> recipe of the <a href="https://github.com/chef-cookbooks/chef-splunk/">chef-splunk cookbook</a> that is maintained by Chef.</p>
