.toc {
  padding-left: 10px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  height: 100%;
  font-size: rem-calc(13);
  z-index: 30;
}

.position-right.is-transition-push {
  box-shadow: none;
}

.runbook_ul{
  margin-top: -16px;
}