.table-of-contents {
  padding-left: 10px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  height: 100%;
  font-size: rem-calc(13);
  z-index: 30;

  span.mini-toc-nav{
    // padding-top: .5rem;
    font-weight: 800;
    // font-size: rem-calc(16);
    margin-top: 1rem;
    display: block;
  }

  ul.release-versions {
    > li.release-date {
      list-style-type: none;
      >ul li {
        > p {
          margin-bottom: 0;
        }
        &:last-child p {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.position-right.is-transition-push {
  box-shadow: none;
}
