@import "tocbot/src/scss/tocbot";

.transition--300 {
  transition: all 300ms ease-in-out;
}

.toc {
  //height: 100%;
  width: 280px;
  transform: translateX(0);
  position: fixed;
  padding-left: 5px;
  //right: 0;
  margin-left: 10px;
  top: 0;
  overflow-y: hidden;

  ul, ol {
    list-style-type: none;
    margin-bottom: .25rem;

    li {
      list-style-type: none;
      margin-bottom: .25rem;

      &::before {
        content: "";
      }
    }
  }
  #mini-toc{
    a {
      text-decoration: none;
    }
  }
}

ul .toc-list {
  margin-bottom: .25rem;
}

li .toc-list-item .is-active {
  margin-bottom: .25rem;
}

.content {
  //position: relative;
}
.content h1:first-child,
.content h2:first-child {
  padding-top: 0;
  margin-top: 0;
}
.tocbottitle {
  font-size: 3em;
}
.content {
  // margin-bottom: 95vh;
}
.content ul,
.content ol {
  list-style: none;
}

.content a {
  color: #0977c3;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  transition: all 300ms ease;
}

.content a.no-decoration {
  border-bottom: 0;
}

.content a:hover {
  border-bottom: 1px solid #0977c3;
}

.content a:hover.no-decoration {
  border-bottom: 0;
}

a.toc-link {
  text-decoration: none;
}

.try-it-container {
  // transform: translateY(84%);
}

.try-it-container.is-open {
  //transform: translateY(0%);
}

.page-content {
  display: block !important;
}

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}
.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}
.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.hljs-link {
  text-decoration: underline;
}
.toc-icon {
  position: fixed;
  top: 0;
  right: 0;
}
#toc:checked ~.toc {
  box-shadow: 0 0 5px #c8c8c8;
  transform: translateX(0);
}
.toc {
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateX(-100%);
}
.toc.toc-right {
  transform: translateX(100%);
  right: 0;
}
@media (min-width: 52em) {
  .toc {
    transform: translateX(0);
  }
  .toc.toc-right {
    transform: translateX(0);
    right: calc((100% - 48rem - 4rem) / 2);
  }
  .toc-icon {
    display: none;
  }
  .try-it-container {
    display: block;
  }
  .content {
    // margin-left: 280px;
  }
  .toc-right ~ .content {
    margin-left: 0;
    //margin-right: 280px;
  }
}
