@charset "utf-8";

// node_modules imports relative to node_modules/

@import "variables";
@import "foundation-sites/scss/foundation";
@include foundation-everything;

@import "mixins";
@import "typography";
@import "buttons";

@import "base";
@import "toc";
@import "homepage";

body {
	@include font-smoothing();
  @include base-type();
}

@import "partials/alerts";
@import "partials/copycode";
@import "partials/feedback";
@import "partials/footer";
@import "partials/grid";
@import "partials/sidebar";
@import "partials/tab-container";
@import "partials/utility-bar";
