@charset "utf-8";

// node_modules imports relative to node_modules/

@import "variables";
@import "foundation-sites/scss/foundation";
@include foundation-everything;

@import "docsearch.js/dist/npm/styles/main";

@import "mixins";
@import "typography";
@import "buttons";
@import "forms";

body {
	@include font-smoothing();
  @include base-type();
}

@import "partials/alerts";
@import "partials/grid";
@import "partials/bg";
@import "partials/cards";
@import "partials/callout";
@import "partials/padding";
@import "partials/sidebar";
@import "partials/tabs";
@import "partials/blurbs";

@import "toc";

@import "header";
@import "footer";
@import "homepage";
