# Order is important. The last matching pattern has the most precedence.

.expeditor/** @chef/jex-team
terraform/**  @chef/jex-team
*             @chef/docs-team
*             @chef/client-maintainers
