.DS_Store

# ignore doctree files in translation folders
*.doctree
*.pickle

build/

**/.sass-cache
**/.sass-cache/*
*.css.map
*.css_t.map

/.delivery/cli.toml

.terraform/
*.tfstate
*.tfstate.backup
*_override.tf

/.vscode

/.venv

*.*~
*~
TAGS
