
# Packages must be available for more than the given number of days ago to be installed
min-release-age=7

# Block npm from running scripts specified in package.json files.
ignore-scripts=true

# Block git deps
allow-git=none
