[build]
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.83.1"
  HUGO_ENABLEGITINFO = "true"
  GO_VERSION = "1.17.2"
  NODE_ENV = "development"
  NODE_VERSION = "17.0.1"

[build.processing]
  skip_processing = true

[context.production]
  command = "make assets; hugo --gc --minify --enableGitInfo"
  [context.production.environment]
    HUGO_ENV = "production"

[context.deploy-preview]
  command = "make assets; hugo --gc --minify --enableGitInfo --buildFuture"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "X-XSS-Protection: 1"
    Referrer-Policy = "no-referrer-when-downgrade"
    Strict-Transport-Security = "max-age=2592000"
    Permissions-Policy = "vibrate=(), geolocation=(), midi=(), notifications=(), push=(), sync-xhr=(), microphone=(), camera=(), magnetometer=(), gyroscope=(), speaker=(), vibrate=(), fullscreen=(), payment=()"

## redirects traffic from old InSpec docs inspec.io/docs/
## https://docs.netlify.com/routing/redirects/#syntax-for-the-netlify-configuration-file

[[redirects]]
  from = "/inspec/reference/*"
  to = "/inspec/:splat"
  status = 301

[[redirects]]
  from = "/resource_*"
  to = "/resources/:splat"
  status = 301

[[redirects]]
  from = "/inspec_reference.html"
  to = "/inspec/cli"
  status = 301

[[redirects]]
  from = "/plugin_knife_windows.html"
  to = "/workstation/knife_windows/"
  status = 301
