[build]
  publish = "public"

[build.environment]
  HUGO_ENABLEGITINFO = "true"
  NODE_VERSION = "19"

[build.processing]
  skip_processing = true

[dev]
  # local development with the Netlify CLI
  command = "bash ./scripts/local-server.sh"
  targetPort = 1313
  port = 8000
  [context.dev.environment]
    HUGO_ENV = "development"

[context.production]
  command = "bash ./scripts/netlify-deploy-production.sh"
  [context.production.environment]
    HUGO_ENV = "production"

[context.deploy-preview]
  command = "bash ./scripts/netlify-deploy-preview.sh"
  [context.deploy-preview.environment]
    HUGO_ENV = "staging"

[context.branch-deploy]
  command = "bash ./scripts/netlify-branch-deploy.sh"
  [context.branch-deploy.environment]
    HUGO_ENV = "branch-deploy"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "X-XSS-Protection: 1"
    Referrer-Policy = "no-referrer-when-downgrade"
    Strict-Transport-Security = "max-age=2592000"
    Permissions-Policy = "vibrate=(), geolocation=(), midi=(), notifications=(), push=(), sync-xhr=(), microphone=(), camera=(), magnetometer=(), gyroscope=(), speaker=(), vibrate=(), fullscreen=(), payment=()"

##############
##
## Site redirects
## https://docs.netlify.com/routing/redirects/#syntax-for-the-netlify-configuration-file
## https://docs.netlify.com/routing/redirects/redirect-options/
##
##############

####
# Chef 360 Platform redirects
####

[[redirects]]
  from = "/360/1.0/*"
  to = "https://release-1-0--chef-360.netlify.app/360/1.0/:splat"
  status = 200

[[redirects]]
  from = "/360/1.1/*"
  to = "https://release-1-1--chef-360.netlify.app/360/1.1/:splat"
  status = 200

[[redirects]]
  from = "/360/1.2/*"
  to = "https://release-1-2--chef-360.netlify.app/360/1.2/:splat"
  status = 200

[[redirects]]
  from = "/360/1.3/*"
  to = "https://release-1-3--chef-360.netlify.app/360/1.3/:splat"
  status = 200

[[redirects]]
  from = "/360/1.4/*"
  to = "https://release-1-4--chef-360.netlify.app/360/1.4/:splat"
  status = 200

[[redirects]]
  from = "/360/1.5/*"
  to = "https://release-1-5--chef-360.netlify.app/360/1.5/:splat"
  status = 200

[[redirects]]
  from = "/360/latest/*"
  to = "/360/1.5/:splat"
  status = 301

####
# Chef Habitat redirects
####

[[redirects]]
  from = "/habitat/2.0-rc1/*"
  to = "https://release-2-0-rc1--chef-habitat-docs.netlify.app/habitat/2.0-rc1/:splat"
  status = 200

# [[redirects]]
#   from = "/habitat/2.0/*"
#   to = "https://release-2-0--chef-habitat-docs.netlify.app/habitat/2.0/:splat"
#   status = 200

# [[redirects]]
#   from = "/habitat/1.6/*"
#   to = "https://release-1-6--chef-habitat-docs.netlify.app/habitat/1.6/:splat"
#   status = 200

####
# Chef Infra Client redirects
####

[[redirects]]
  from = "/client/rc1/*"
  to = "https://release-rc1--chef-infra-client.netlify.app/client/rc1/:splat"
  status = 200

[[redirects]]
  from = "/client/rc2/*"
  to = "https://release-rc2--chef-infra-client.netlify.app/client/rc2/:splat"
  status = 200

[[redirects]]
  from = "/client/rc3/*"
  to = "https://release-rc3--chef-infra-client.netlify.app/client/rc3/:splat"
  status = 200

####
# Chef InSpec redirects
####

[[redirects]]
  from = "/inspec/resource_packs/*"
  to = "https://inspec-resource-pack-docs.netlify.app/inspec/resource_packs/:splat"
  status = 200

[[redirects]]
  from = "/inspec/7.0/*"
  to = "https://release-7-0--chef-inspec-docs.netlify.app/inspec/7.0/:splat"
  status = 200

[[redirects]]
  from = "/inspec/6.8/*"
  to = "https://release-6-8--chef-inspec-docs.netlify.app/inspec/6.8/:splat"
  status = 200

[[redirects]]
  from = "/inspec/5.24/*"
  to = "https://release-5-24--chef-inspec-docs.netlify.app/inspec/5.24/:splat"
  status = 200

[[redirects]]
  from = "/inspec/5.23/*"
  to = "https://release-5-23--chef-inspec-docs.netlify.app/inspec/5.23/:splat"
  status = 200

[[redirects]]
  from = "/inspec/latest/*"
  to = "/inspec/7.0/:splat"
  status = 301

[[redirects]]
  from = "/inspec/cloud/*"
  to = "/inspec/resource_packs/:splat"
  status = 301

[[redirects]]
  from = "/inspec/profiles/*"
  to = "/inspec/latest/profiles/:splat"
  status = 301

[[redirects]]
  from = "/inspec/resources/*"
  to = "/inspec/latest/resources/"
  status = 301
