<!doctype html>
<html lang="en">
{{ partial "head" . }}
<body>
  <div class="off-canvas-wrapper has-sidebar">
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="cell small-12">
        {{ partial "utility-bar" . }}
      </div>
      <div id="main-content" class="cell small-12" data-sticky-container>
        <div class="grid-container">
          <div class="grid-x">
            <div class="cell medium-3 col-sidebar">
              {{ partial "sidebar" . }}
            </div>

            <aside>
              <span>
                <strong>
                  <h4 class="mini-toc-header">Table Of Contents</h4>
                </strong>
              </span>
              {{ .TableOfContents }}
            </aside>

            <div id="main-content-col" class="cell medium-9 col-content">
              
              <h1 id="resources-reference">Runbook</h1>

                {{ readFile "layouts/shortcodes/chef_server.md" | markdownify }}

                {{ readFile "layouts/shortcodes/chef_server_component_erchef_background.md" | markdownify }}

                <p>
                  The following diagram shows the various components that are part of a
                  Chef Infra Server deployment and how they relate to one another.
                </p>


                <img src="/images/server_components.svg" width="500" alt="image" />

                <table style="width:99%;">
                <colgroup>
                <col style="width: 12%" />
                <col style="width: 87%" />
                </colgroup>
                <thead>
                <tr class="header">
                <th>Component</th>
                <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd">
                <td><p>Bookshelf</p></td>
                <td><p>{{ readFile "layouts/shortcodes/chef_server_component_bookshelf.md" | markdownify }}</p>
                <p>All cookbooks are stored in a dedicated repository.</p></td>
                </tr>
                <tr class="even">
                <td>Erchef</td>
                <td>{{ readFile "layouts/shortcodes/chef_server_component_erchef.md" | markdownify }}</td>
                </tr>
                <tr class="odd">
                <td><p>Message Queues</p></td>
                <td><p>Messages are sent to the Search Index using the following components:</p>
                <ol>
                <li>{{ readFile "layouts/shortcodes/chef_server_component_rabbitmq.md" | markdownify }}</li>
                <li>{{ readFile "layouts/shortcodes/chef_server_component_expander.md" | markdownify }}</li>
                <li>{{ readFile "layouts/shortcodes/chef_server_component_solr.md" | markdownify }}</li>
                </ol>
                <p>All messages are added to a dedicated search index repository.</p></td>
                </tr>
                <tr class="even">
                <td>Nginx</td>
                <td>{{ readFile "layouts/shortcodes/chef_server_component_nginx.md" | markdownify }}</td>
                </tr>
                <tr class="odd">
                <td>PostgreSQL</td>
                <td>{{ readFile "layouts/shortcodes/chef_server_component_postgresql.md" | markdownify }}</td>
                </tr>
                </tbody>
                </table>

                <p>
                  The following sections detail how to monitor the server, manage log
                  files, manage services, manage firewalls and ports, configure SSL, tune
                  server configuration settings, and backup and restore data.
                </p>

                {{ range .Pages.ByParam "runbook_weight" }}
                <h1 id='{{anchorize .Title}}'>{{ .Title }}</h1>
                <hr>
                  {{ .Content }}
                {{ end }}
              </div>
          </div>
        </div>
      </div>
      <div id="footer" class="cell small-12">
        <div class="grid-x">
          <div class="cell small-12">
            <nav>
              {{ partial "footer" . }}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ partial "javascript" . }}
</body>
</html>
