<!doctype html>
<html lang="en">
{{ partial "head" . }}
<body>
  <a class="skip-main" href="#main-content-col">Skip to main content</a>

  {{ partialCached "utility-bar" . }}

  <div id="left-nav-off-canvas" class="hide-for-medium hide-for-print" data-toggler=".reveal">
    {{ partial "sidebar-off-canvas" . }}
  </div>

  <div class="off-canvas-wrapper">
    <div class="grid-container fluid">
      <div class="grid-x">

        <div id="left-nav-on-canvas" class="cell position-left off-canvas-absolute reveal-for-medium col-sidebar" data-off-canvas data-transition="overlap" >
          {{ partial "sidebar-on-canvas" . }}
        </div>

        <div id="main-content" class="cell off-canvas-content auto" data-off-canvas-content>
          {{ block "main" . }}
          {{ end }}
        </div>

        {{ $headers := findRE `(?m)<h2.*?>(.|\n])+\>` .Content }}
        {{ if or (and (ge (len $headers) 1) (ne .Params.toc false )) (isset .Params "release_notes") (.Params.version_docs_product) (.Params.toc_layout)}}
          {{ if .Params.toc_layout }}
            <div id="onCanvasRightTOC" class="cell off-canvas position-right toc off-canvas-absolute reveal-for-large" data-off-canvas >
              {{ partial .Params.toc_layout . }}
            </div>
          {{ else if (.Params.version_docs_product)}}
            {{ partial "versioned-docs-toc" . }}
          {{ else }}
            <div id="onCanvasRightTOC" class="cell off-canvas position-right toc off-canvas-absolute reveal-for-large" data-off-canvas >
              {{ partial "table-of-contents" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>

  {{ if or (and (ge (len $headers) 1) (ne .Params.toc false )) (isset .Params "release_notes") (.Params.version_docs_product) (.Params.toc_layout)}}

    <div id="offCanvasRightTOC" class="off-canvas position-right toc hide-for-large hide-for-print" data-off-canvas data-transition="overlap">
      {{ if .Params.toc_layout }}
        {{ partial .Params.toc_layout . }}
      {{ else }}
        {{ partial "table-of-contents" . }}
      {{ end }}
    </div>

  {{ end }}

  <nav>
    {{ partial "footer" . }}
  </nav>

  {{ partial "image_modal" . }}
  {{ partialCached "javascript" . }}
  {{ partial "swiftype_search_modal" . }}

  </body>
</html>
