<!doctype html>
<html lang="en">
{{ partial "head" . }}
<body>
  <div class="off-canvas-wrapper has-sidebar">
    <div class="off-canvas-content" data-off-canvas-content>
      <div id="utility-bar" class="cell small-12">
        {{ partial "utility-bar" . }}
      </div>
      <div id="main-content" class="cell small-12" >
        <div class="grid-container">
          <div class="grid-x">
            <div id="sidebar-nav" class="cell">
              {{ partial "sidebar" . }}
            </div>
            <div id="main-content-col" class="cell auto col-content grid-x fluid grid-padding-x">
              {{ block "main" . }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div id="footer" class="cell small-12">
        <div class="grid-x">
          <div class="cell small-12">
            <nav>
              {{ partial "footer" . }}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ partial "javascript" . }}
  <script type="text/javascript">
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
    (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
    e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
    
    _st('install','ZXHpCfPLzPHWHG5upsR7','2.0.0');
  </script>
</body>
</html>
