<!DOCTYPE html>
<html>
  <head>
    {{- with .Params.description -}}
      <meta name="description" content="{{.}}" />
    {{- end -}}
    <title>{{.Title}}</title>
    <!-- needed for adaptive design -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Params.product -}}
      {{- range $tag := . -}}
        <meta class="swiftype" name="chef-product" data-type="string" content="{{ $tag }}" />
      {{- end -}}
    {{- end }}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ $.Page.Params.style_sheet }}">
  </head>
  <body>
    <a class="return" href="{{ $.Page.Params.return_page }}">Return to Docs</a>
    <ReDoc spec-url="{{ $.Page.Params.api_file_path }}" scroll-y-offset="34"></ReDoc>
    {{ $redocJs := resources.Get "js/vendor/redoc/redoc.standalone.js" }}
    <script type="text/javascript" src="{{ $redocJs.RelPermalink }}"></script>
  </body>
</html>
