
{{ define "main" }}
  {{ $product := index .Params.data_path 0 }}
  <main id="main-content-col" tabindex="-1">
    <div id="col-content" data-swiftype-index='true'>
      <h1 id="{{ anchorize ( .Title )}}">{{ .Title }}</h1>

      <button type="button" class="TOC-button hide-for-large" data-toggle="offCanvasRightTOC" data-swiftype-index='false'>
        <i class="fas fa-bars"></i> Table of Contents
      </button>


      <div class="prose">
        {{ .Content }}

        {{ range index $.Site.Data ( .Params.data_path )}}
          {{ $yaml_file := . }}

          {{ if index $yaml_file "resource_reference" }}
            {{ $resource := index $yaml_file "resource" }}
            {{ $resource_ID := replace $resource "_" "-" }}
            <h2 id="{{ $resource_ID}}-resource">{{ $resource }} resource</h2>
            {{ if eq $product "infra" }}
              <a href="/resources/{{ $resource }}/">{{ $resource }} resource page</a>
            {{ else }}
              <a href="/{{ $product }}/resources/{{ $resource }}/">{{ $resource }} resource page</a>
            {{ end }}

            <hr>

            {{ with index $yaml_file "resource_description_list" }}
              {{ range . }}
                {{ range $key, $value := . }}
                  {{ if eq $key "markdown" }}
                    <p>{{- $value | markdownify -}}</p>
                  {{ end }}
                  {{ if eq $key "note" }}
                    <div class="admonition-note">
                      <p class="admonition-note-title">Note</p>
                      <div class="admonition-note-text">
                        {{ range $subkey, $subvalue := $value }}
                          {{ if eq $subkey "markdown" }}
                            <p>
                              {{- $subvalue | markdownify -}}
                            </p>
                          {{ end }}
                          {{ if eq $subkey "shortcode" }}
                            <p>
                              {{ readFile (delimit (slice `themes/docs-new/layouts/shortcodes/` $subvalue ) "") | markdownify }}
                            </p>
                          {{ end }}
                        {{ end }}
                      </div>
                    </div>
                  {{ end }}
                  {{ if eq $key "warning" }}
                  <div class="admonition-warning">
                    <p class="admonition-warning-title">Warning</p>
                    <div class="admonition-warning-text">
                      {{ range $subkey, $subvalue := $value }}
                        {{ if eq $subkey "markdown" }}
                          <p>
                            {{- $subvalue | markdownify -}}
                          </p>
                        {{ end }}
                        {{ if eq $subkey "shortcode" }}
                          <p>
                            {{ readFile (delimit (slice `themes/docs-new/layouts/shortcodes/` $subvalue ) "") | markdownify }}
                          </p>
                        {{ end }}
                      {{ end }}
                    </div>
                  </div>
                  {{ end }}
                  {{ if eq $key "shortcode" }}
                    <p>
                      {{ readFile (delimit (slice `themes/docs-new/layouts/shortcodes/` $value ) "") | markdownify }}
                    </p>
                  {{ end }}
                  {{ if and (eq $key "notes_resource_based_on_package") (eq $value true)}}
                    <div class="admonition-note">
                      <p class="admonition-note-title">Note</p>
                      <div class="admonition-note-text">
                        {{ readFile (delimit (slice `themes/docs-new/layouts/shortcodes/notes_resource_based_on_package.md` ) "") | markdownify }}
                      </div>
                    </div>
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}

            {{ if and ( ne (index $yaml_file "resource_new_in") "" ) ( index $yaml_file "resource_new_in" )}}
              <p><strong>New in Chef Infra Client {{ index $yaml_file "resource_new_in" }}.</strong></p>
            {{ end }}

            <!-------------- Handler Types ------------------->

            {{ with index $yaml_file "handler_types" }}
              <h3 id="handler-types">Handler Types</h3>
              {{ readFile "themes/docs-new/layouts/shortcodes/handler_types.md" | markdownify }}

              <h4 id="handler-type-exception-report">Exception / Report</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/handler_type_exception_report.md" | markdownify }}
              {{ readFile "themes/docs-new/layouts/shortcodes/handler_type_exception_report_run_from_recipe.md" | markdownify }}


              <h4 id="handler-type-start">Start</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/handler_type_start.md" | markdownify }}
              {{ readFile "themes/docs-new/layouts/shortcodes/handler_type_start_run_from_recipe.md" | markdownify }}

            {{ end }}


            <!-------------- Syntax ------------------->

            <h3 id = "syntax-{{$resource_ID}}">Syntax</h3>

            <hr>

            <p>{{ index $yaml_file "syntax_description" | markdownify }}</p>

            {{ with index $yaml_file "syntax_code_block" }}
              <p>{{ highlight index $yaml_file . "ruby" "" }}</p>
            {{ end }}

            {{ with index $yaml_file "syntax_properties_list" }}
              <p>where:</p>
              <ul>
                {{ range . }}
                <li>{{ . | markdownify }}</li>
                {{ end }}
              </ul>
            {{ end }}

            {{ with index $yaml_file "syntax_full_code_block" }}
              <p>The full syntax for all of the properties that are available to the <strong>{{ index $yaml_file "resource" }}</strong> resource is:</p>
              <p>{{- highlight ( trim . "\n") "ruby" "" -}}</p>
            {{ end }}

            {{ with index $yaml_file "syntax_full_properties_list" }}
              <p>where:</p>
              <ul>
                {{ range . }}
                <li>{{ . | markdownify }}</li>
                {{ end }}
              </ul>
            {{ end }}

            {{ with index $yaml_file "syntax_shortcode" }}
                {{ readFile (delimit (slice `themes/docs-new/layouts/shortcodes/` . ) "") | markdownify }}
            {{ end }}

            {{ with index $yaml_file "registry_key" }}
              <h4 id="windows-registry-key-backslashes">Registry Key Path Separators</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/windows_registry_key_backslashes.md" | markdownify }}

              <h4 id="dsl-recipe-method-windows-methods">Chef Infra Language Methods</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/infra_lang_method_windows_methods.md" | markdownify }}

              <h5 id="dsl-recipe-method-registry-data-exists">registry_data_exists?</h5>
              {{ $shortcode := "themes/docs-new/layouts/shortcodes/infra_lang_method_registry_data_exists.md" }}

              {{ if in (readFile $shortcode) "readFile" }}
                {{ $shortcode_text := newScratch }}
                {{ $shortcode_text.Set "text" "" }}
                {{ range split (readFile $shortcode) "\n"}}
                  {{ if in . "readFile" }}
                    {{ if ne $shortcode_text "" }}
                      {{ $shortcode_text.Get "text" | markdownify }}
                      {{ $shortcode_text.Set "text" "" }}
                    {{ end }}

                    <p>
                      {{ readFile (. | replaceRE `{{ readFile \"(themes\/docs-new\/layouts\/shortcodes\/\w+\.md)\" \| markdownify }}` "$1" ) | markdownify }}
                    </p>

                  {{ else }}
                    {{ $shortcode_text.Add "text" . }}
                    {{ $shortcode_text.Add "text" "\n" }}
                  {{ end }}
                {{ end }}
                {{ $shortcode_text.Get "text" | markdownify }}
              {{ else }}
                {{ readFile $shortcode | markdownify }}
              {{ end }}

              <h5 id="dsl-recipe-method-registry-get-subkeys">registry_get_subkeys</h5>
              {{ $shortcode := "themes/docs-new/layouts/shortcodes/infra_lang_method_registry_get_subkeys.md" }}

              {{ if in (readFile $shortcode) "readFile" }}
                {{ $shortcode_text := newScratch }}
                {{ $shortcode_text.Set "text" "" }}
                {{ range split (readFile $shortcode) "\n"}}
                  {{ if in . "readFile" }}
                    {{ if ne $shortcode_text "" }}
                      {{ $shortcode_text.Get "text" | markdownify }}
                      {{ $shortcode_text.Set "text" "" }}
                    {{ end }}

                    <p>
                      {{ readFile (. | replaceRE `{{ readFile \"(themes\/docs-new\/layouts\/shortcodes\/\w+\.md)\" \| markdownify }}` "$1" ) | markdownify }}
                    </p>

                  {{ else }}
                    {{ $shortcode_text.Add "text" . }}
                    {{ $shortcode_text.Add "text" "\n" }}
                  {{ end }}
                {{ end }}
                {{ $shortcode_text.Get "text" | markdownify }}
              {{ else }}
                {{ readFile $shortcode | markdownify }}
              {{ end }}

              <h5 id="dsl-recipe-method-registry-get-values">registry_get_values</h5>
              {{ $shortcode := "themes/docs-new/layouts/shortcodes/infra_lang_method_registry_get_values.md" }}

              {{ if in (readFile $shortcode) "readFile" }}
                {{ $shortcode_text := newScratch }}
                {{ $shortcode_text.Set "text" "" }}
                {{ range split (readFile $shortcode) "\n"}}
                  {{ if in . "readFile" }}
                    {{ if ne $shortcode_text "" }}
                      {{ $shortcode_text.Get "text" | markdownify }}
                      {{ $shortcode_text.Set "text" "" }}
                    {{ end }}

                    <p>
                      {{ readFile (. | replaceRE `{{ readFile \"(themes\/docs-new\/layouts\/shortcodes\/\w+\.md)\" \| markdownify }}` "$1" ) | markdownify }}
                    </p>

                  {{ else }}
                    {{ $shortcode_text.Add "text" . }}
                    {{ $shortcode_text.Add "text" "\n" }}
                  {{ end }}
                {{ end }}
                {{ $shortcode_text.Get "text" | markdownify }}
              {{ else }}
                {{ readFile $shortcode | markdownify }}
              {{ end }}

              <h5 id="dsl-recipe-method-registry-has-subkeys">registry_has_subkeys?</h5>
              {{ $shortcode := "themes/docs-new/layouts/shortcodes/infra_lang_method_registry_has_subkeys.md" }}

              {{ if in (readFile $shortcode) "readFile" }}
                {{ $shortcode_text := newScratch }}
                {{ $shortcode_text.Set "text" "" }}
                {{ range split (readFile $shortcode) "\n"}}
                  {{ if in . "readFile" }}
                    {{ if ne $shortcode_text "" }}
                      {{ $shortcode_text.Get "text" | markdownify }}
                      {{ $shortcode_text.Set "text" "" }}
                    {{ end }}

                    <p>
                      {{ readFile (. | replaceRE `{{ readFile \"(themes\/docs-new\/layouts\/shortcodes\/\w+\.md)\" \| markdownify }}` "$1" ) | markdownify }}
                    </p>

                  {{ else }}
                    {{ $shortcode_text.Add "text" . }}
                    {{ $shortcode_text.Add "text" "\n" }}
                  {{ end }}
                {{ end }}
                {{ $shortcode_text.Get "text" | markdownify }}
              {{ else }}
                {{ readFile $shortcode | markdownify }}
              {{ end }}

              <h5 id="dsl-recipe-method-registry-key-exists">registry_key_exists?</h5>
              {{ $shortcode := "themes/docs-new/layouts/shortcodes/infra_lang_method_registry_key_exists.md" }}

              {{ if in (readFile $shortcode) "readFile" }}
                {{ $shortcode_text := newScratch }}
                {{ $shortcode_text.Set "text" "" }}
                {{ range split (readFile $shortcode) "\n"}}
                  {{ if in . "readFile" }}
                    {{ if ne $shortcode_text "" }}
                      {{ $shortcode_text.Get "text" | markdownify }}
                      {{ $shortcode_text.Set "text" "" }}
                    {{ end }}

                    <p>
                      {{ readFile (. | replaceRE `{{ readFile \"(themes\/docs-new\/layouts\/shortcodes\/\w+\.md)\" \| markdownify }}` "$1" ) | markdownify }}
                    </p>

                  {{ else }}
                    {{ $shortcode_text.Add "text" . }}
                    {{ $shortcode_text.Add "text" "\n" }}
                  {{ end }}
                {{ end }}
                {{ $shortcode_text.Get "text" | markdownify }}
              {{ else }}
                {{ readFile $shortcode | markdownify }}
              {{ end }}

              <h5 id="dsl-recipe-method-registry-value-exists">registry_value_exists?</h5>
              {{ $shortcode := "themes/docs-new/layouts/shortcodes/infra_lang_method_registry_value_exists.md" }}

              {{ if in (readFile $shortcode) "readFile" }}
                {{ $shortcode_text := newScratch }}
                {{ $shortcode_text.Set "text" "" }}
                {{ range split (readFile $shortcode) "\n"}}
                  {{ if in . "readFile" }}
                    {{ if ne $shortcode_text "" }}
                      {{ $shortcode_text.Get "text" | markdownify }}
                      {{ $shortcode_text.Set "text" "" }}
                    {{ end }}

                    <p>
                      {{ readFile (. | replaceRE `{{ readFile \"(themes\/docs-new\/layouts\/shortcodes\/\w+\.md)\" \| markdownify }}` "$1" ) | markdownify }}
                    </p>

                  {{ else }}
                    {{ $shortcode_text.Add "text" . }}
                    {{ $shortcode_text.Add "text" "\n" }}
                  {{ end }}
                {{ end }}
                {{ $shortcode_text.Get "text" | markdownify }}
              {{ else }}
                {{ readFile $shortcode | markdownify }}
              {{ end }}

            {{ end }}

            <!-------------- Nameless ------------------->

            {{ with index $yaml_file "nameless_apt_update" }}
              <h3 id="nameless-{{ $resource_ID }}">Nameless</h3>
              {{ readFile "themes/docs-new/layouts/shortcodes/nameless_apt_update.md" | markdownify }}
            {{ end }}

            {{ with index $yaml_file "nameless_build_essential" }}
              <h3 id="nameless-{{ $resource_ID }}">Nameless</h3>
              {{ readFile "themes/docs-new/layouts/shortcodes/nameless_build_essential.md" | markdownify }}
            {{ end }}

            <!-------------- Gem Package Options ------------------->

            {{ with index $yaml_file "resource_package_options" }}
              <h3 id="package-options">Gem Package Options</h3>
              {{ readFile "themes/docs-new/layouts/shortcodes/resource_package_options.md" | markdownify }}

              <h4 id="package-options-hash">Specify with Hash</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/resource_package_options_hash.md" | markdownify }}
              <strong>Example</strong>
              {{ readFile "themes/docs-new/layouts/shortcodes/resource_package_install_gem_with_hash_options.md" | markdownify }}


              <h4 id="package-options-string">Specify with String</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/resource_package_options_string.md" | markdownify }}
              <strong>Example</strong>
              {{ readFile "themes/docs-new/layouts/shortcodes/resource_package_install_gem_with_options_string.md" | markdownify }}

              <h4 id="package-options-gemrc">Specify with .gemrc File</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/resource_package_options_gemrc.md" | markdownify }}
              {{ readFile "themes/docs-new/layouts/shortcodes/resource_package_install_gem_with_gemrc.md" | markdownify }}
            {{ end }}

            <!-------------- Actions ------------------->

            {{ if and ( index $yaml_file "actions_list" ) ( ne (index $yaml_file "actions_list") "" )}}
              {{ with index $yaml_file "actions_list" }}

                <h3 id = "actions-{{$resource_ID}}">Actions</h3>
                <hr>

                <p>The <strong>{{ index $yaml_file "resource" }}</strong> resource has the following actions:</p>
                <dl>
                  {{ range $key, $value := . }}
                    <dt><code>{{ $key | markdownify }}</code></dt>
                    {{ range $subkey, $subvalue := $value }}
                      {{ if eq $subkey "shortcode" }}
                        <dd>{{ readFile (delimit (slice `themes/docs-new/layouts/shortcodes/` $subvalue ) "") | markdownify }}</dd>
                      {{ end }}
                      {{ if eq $subkey "markdown" }}
                        <dd>{{- $subvalue | markdownify -}}</dd>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </dl>
              {{ end }}
            {{ end }}

            <!-------------- Properties ------------------->

            <h3 id = "properties-{{$resource_ID}}">Properties</h3>
            <hr>
            {{ if or (index $yaml_file "properties_shortcode") (index $yaml_file "properties_list") }}
              {{ with index $yaml_file "properties_list" }}
                <p>The <strong>{{ index $yaml_file "resource" }}</strong> resource has the following properties:</p>
                {{ range . }}
                  <dl>
                    {{ if and (.property) (ne .property nil) }}
                      <dt>
                        <code>{{ .property }}</code>
                      </dt>
                    {{ end }}

                    <dd>
                      {{ if ne .ruby_type nil }}
                        <strong>Ruby Type:</strong> {{ .ruby_type }} {{ if .default_value }}| <strong>Default Value:</strong> <code>{{ .default_value }}</code>{{ end }} {{ if .required }}| <code>REQUIRED</code>{{ end }}
                        {{ if .allowed_values }}</br><strong>Allowed Values:</strong> <code>{{ .allowed_values }}</code>{{ end }}
                        </p>
                      {{ end }}

                      {{ range .description_list }}
                        {{ range $key, $value :=  . }}
                          {{ if eq $key "markdown" }}
                            <p>{{- $value | markdownify -}}</p>
                          {{ end }}

                          {{ if eq $key "note" }}
                            <div class="admonition-note">
                              <p class="admonition-note-title">Note</p>
                              <div class="admonition-note-text">
                                {{ range $subkey, $subvalue := $value }}
                                  {{ if eq $subkey "markdown" }}
                                    <p>
                                      {{- $subvalue | markdownify -}}
                                    </p>
                                  {{ end }}
                                  {{ if eq $subkey "shortcode" }}
                                    <p>
                                      {{ readFile (delimit (slice `themes/docs-new/layouts/shortcodes/` $subvalue ) "") | markdownify }}
                                    </p>
                                  {{ end }}
                                {{ end }}
                              </div>
                            </div>
                          {{ end }}
                          {{ if eq $key "warning" }}
                            <div class="admonition-warning">
                              <p class="admonition-warning-title">Warning</p>
                              <div class="admonition-warning-text">
                                {{ range $subkey, $subvalue := $value }}
                                  {{ if eq $subkey "markdown" }}
                                    <p>
                                      {{- $subvalue | markdownify -}}
                                    </p>
                                  {{ end }}
                                  {{ if eq $subkey "shortcode" }}
                                    <p>
                                      {{ readFile (delimit (slice `themes/docs-new/layouts/shortcodes/` $subvalue ) "") | markdownify }}
                                    </p>
                                  {{ end }}
                                {{ end }}
                              </div>
                            </div>
                          {{ end }}
                          {{ if eq $key "shortcode" }}
                            <p>
                              {{ readFile (delimit (slice `themes/docs-new/layouts/shortcodes/` $value ) "") | markdownify }}
                            </p>
                          {{ end }}
                        {{ end }}
                      {{ end }}

                      {{ if and (.new_in) (ne .new_in nil) }}
                        <p>
                          {{ if ge .new_in 15 }}
                            New in Chef Infra Client {{ .new_in }}
                          {{ else }}
                            New in Chef Client {{ .new_in }}
                          {{ end }}
                        </p>
                      {{ end }}
                      {{ if and (.note) (ne .note nil) }}
                        <div class="admonition-note">
                          <p class="admonition-note-title">Note</p>
                          <div class="admonition-note-text">{{- .note | markdownify -}}</div>
                        </div>
                      {{ end }}
                    </dd>
                  </dl>
                {{ end }}
              {{ end }}
              {{ with index $yaml_file "properties_shortcode" }}
                {{ readFile (delimit (slice `themes/docs-new/layouts/shortcodes/` . ) "") | markdownify }}
              {{ end }}
            {{ else }}
              <p>This resource does not have any properties.</p>
            {{ end }}


            {{ with index $yaml_file "multi_package_resource" }}
              <h4 id="multiple-packages-properties-{{$resource_ID}}">Multiple Packages</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_multiple_packages.md" | markdownify }}
            {{ end }}

            {{ with index $yaml_file "resource_directory_recursive_directories" }}
              <h4 id="directory-recursive-directories-{{$resource_ID}}">Recursive Directories</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/remote_directory_recursive_directories.md" | markdownify }}
            {{ end }}

            {{ with index $yaml_file "resources_common_atomic_update" }}
              <h4 id="common-atomic-update-{{$resource_ID}}">Atomic File Updates</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_atomic_update.md" | markdownify }}
            {{ end }}

            {{ with index $yaml_file "properties_resources_common_windows_security" }}
              <h4 id="common-windows-security-{{$resource_ID}}">Windows File Security</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_windows_security.md" | markdownify }}
              <strong>Access Control Lists (ACLs)</strong>
              {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_windows_security_acl.md" | markdownify }}
              <strong>Inheritance</strong>
              {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_windows_security_inherits.md" | markdownify }}
            {{ end }}

            {{ with index $yaml_file "remote_file_prevent_re_downloads" }}
              <h4 id="prevent-re-downloads-{{$resource_ID}}">Prevent Re-downloads</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/remote_file_prevent_re_downloads.md" | markdownify }}
            {{ end }}

            {{ with index $yaml_file "remote_file_unc_path" }}
              <h4 id="access-a-remote-unc-path-on-windows-{{$resource_ID}}">Access a remote UNC path on Windows</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/remote_file_unc_path.md" | markdownify }}
            {{ end }}

            {{ with index $yaml_file "ps_credential_helper" }}
              <h4 id="ps-credential-helper-{{$resource_ID}}">ps_credential Helper</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/ps_credential_helper.md" | markdownify }}
            {{ end }}

            <!-------------- Chef::Log Entries ------------------->

            {{ with index $yaml_file "ruby_style_basics_chef_log" }}
              <h3 id="ruby-style-basics-chef-log">Log Entries</h3>
              {{ readFile "themes/docs-new/layouts/shortcodes/ruby_style_basics_chef_log.md" | markdownify }}
              {{ readFile "themes/docs-new/layouts/shortcodes/ruby_class_chef_log_fatal.md" | markdownify }}
              {{ readFile "themes/docs-new/layouts/shortcodes/ruby_class_chef_log_multiple.md" | markdownify }}
            {{ end }}

            <!-------------- Debug Recipes with chef-shell ------------------->

            {{ with index $yaml_file "debug_recipes_chef_shell" }}

              <h3 id="debug-recipes-chef-shell">Debug Recipes with chef-shell</h3>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_summary.md" | markdownify }}

              <h4 id="chef-shell-modes">Modes</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_modes.md" | markdownify }}

              <h4 id="debug-recipes-config">Configure</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_config.md" | markdownify }}

              <h5 id="chef-shell-config-rb">chef-shell.rb</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_config_rb.md" | markdownify }}

              <h5 id="chef-shell-run-as-chef-client">Run as a Chef Infra Client</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_run_as_chef_client.md" | markdownify }}

              <h4 id="chef-shell-manage">Manage</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_manage.md" | markdownify }}

              <h4 id="chef-shell-breakpoints">Use Breakpoints</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_breakpoints.md" | markdownify }}

              <h5 id="chef-shell-step-through-run-list">Step Through Run-list</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_step_through_run_list.md" | markdownify }}

              <h5 id="chef-shell-debug-existing-recipe">Debug Existing Recipe</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_debug_existing_recipe.md" | markdownify }}

              <h5 id="chef-shell-advanced-debug">Advanced Debugging</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_advanced_debug.md" | markdownify }}

              <h4 id="chef-shell-debug-examples">Debug Examples</h4>

              <p>The following examples show how to use chef-shell. </p>
              <h5 id="chef-shell-debug-example-hello-world">"Hello World"</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_example_hello_world.md" | markdownify }}

              <h5 id="chef-shell-debug-examples-specific-nodes">Get Specific Nodes</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/chef_shell_example_get_specific_nodes.md" | markdownify }}

            {{ end }}


            <!-------------- Using Templates ------------------->

            {{ with index $yaml_file "template_requirements" }}
              <h3 id="template-requirements">Using Templates</h3>
              {{ readFile "themes/docs-new/layouts/shortcodes/template_requirements.md" | markdownify}}

              <h4 id="template-specificity">File Specificity</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/template_specificity.md" | markdownify}}
              {{ readFile "themes/docs-new/layouts/shortcodes/template_specificity_pattern.md" | markdownify}}
              {{ readFile "themes/docs-new/layouts/shortcodes/template_specificity_example.md" | markdownify}}

              <h4 id="template-helpers">Helpers</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/template_helpers.md" | markdownify}}

              <h5 id="template-inline-method">Inline Methods</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/resource_template_inline_method.md" | markdownify}}

              <h5 id="template-inline-module">Inline Modules</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/resource_template_inline_module.md" | markdownify}}

              <h5 id="template-library-module">Library Modules</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/resource_template_library_module.md" | markdownify}}

              <h4 id="template-host-notation">Host Notation</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/template_host_notation.md" | markdownify}}

              <h4 id="template-partials">Partial Templates</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/template_partials.md" | markdownify}}

              <h5 id="template-partials-render-method">render Method</h5>
              {{ readFile "themes/docs-new/layouts/shortcodes/template_partials_render_method.md" | markdownify}}

              <h4 id="template-transfer-frequency">Transfer Frequency</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/template_transfer_frequency.md" | markdownify}}

              <h4 id="template-variables">Variables</h4>
              {{ readFile "themes/docs-new/layouts/shortcodes/template_variables.md" | markdownify}}

            {{ end }}

            <!------------------ Unit File Verification ---------------------->

            {{ with index $yaml_file "unit_file_verification" }}
              <h3 id="unit-file-verification">Unit file verification</h3>
              {{ readFile "themes/docs-new/layouts/shortcodes/unit_file_verification.md" | markdownify }}
            {{ end }}

            <!-------------- Common Resource Functionality ------------------->

            {{ if or (index $yaml_file "resources_common_properties" ) ( index $yaml_file "resources_common_notification" ) ( index $yaml_file "resources_common_guards" ) ( index $yaml_file "multi_package_resource" ) ( index $yaml_file "resources_common_guard_interpreter" ) ( index $yaml_file "remote_directory_recursive_directories" ) ( index $yaml_file "common_resource_functionality_resources_common_windows_security" )}}
              <br>

              <h3 id = "functionality-{{$resource_ID}}">Common Resource Functionality</h3>
              <hr>

              <p>Chef resources include common properties, notifications, and resource guards.</p>

              {{ if index $yaml_file "resources_common_properties" }}
                <h4 id="common-properties-{{$resource_ID}}">Common Properties</h4>

                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_properties.md" | markdownify }}

              {{ end }}

              {{ if index $yaml_file "resources_common_notification" }}
                <h4 id="common-notifications-{{$resource_ID}}">Notifications</h4>

                <dl>
                  <dt>
                    <code>notifies</code>
                  </dt>
                  <dd>
                    <p><strong>Ruby Type:</strong> Symbol, 'Chef::Resource[String]'</p>
                    {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_notification_notifies.md" | markdownify }}
                  </dd>
                </dl>

                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_notification_timers.md" | markdownify  }}
                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_notification_notifies_syntax.md" | markdownify }}

                <dl>
                  <dt>
                    <code>subscribes</code>
                  </dt>
                  <dd>
                    <p><strong>Ruby Type:</strong>  Symbol, 'Chef::Resource[String]'</p>
                  </dd>
                </dl>
                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_notification_subscribes.md" | markdownify }}
                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_notification_timers.md" | markdownify }}
                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_notification_subscribes_syntax.md" | markdownify }}

              {{ end }}

              {{ if index $yaml_file "resources_common_guards" }}
                <h4 id = "guards-{{$resource_ID}}">Guards</h4>

                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_guards.md" | markdownify }}
                <strong>Properties</strong>
                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_guards_properties.md" | markdownify }}

              {{ end }}

              {{ if index $yaml_file "multi_package_resource" }}
                <h4 id="multiple-packages-common-{{$resource_ID}}">Multiple Packages</h4>

                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_multiple_packages.md" | markdownify }}

              {{ end }}

              {{ if index $yaml_file "resources_common_guard_interpreter" }}
                <h4 id="guard-interpreter-{{$resource_ID}}">Guard Interpreter</h4>

                <p>
                  {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_guard_interpreter.md" | markdownify }}
                </p>
                <strong>Attributes</strong>
                <p>
                  {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_guard_interpreter_attributes.md" | markdownify }}
                </p>

                <strong>Inheritance</strong>
                <p>
                  {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_guard_interpreter_attributes_inherit.md" | markdownify }}
                </p>

                <strong>Example</strong>
                <p>
                  {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_guard_interpreter_example_default.md" | markdownify }}
                </p>

              {{ end }}

              {{ if index $yaml_file "remote_directory_recursive_directories" }}
                <h4 id="recursive-directories-{{$resource_ID}}">Recursive Directories</h4>
                {{ readFile "themes/docs-new/layouts/shortcodes/remote_directory_recursive_directories.md" | markdownify }}
                <h5 id="recursive-directories-example-{{$resource_ID}}">Example</h5>
                {{ readFile "themes/docs-new/layouts/shortcodes/remote_directory_recursive_directories_example.md" | markdownify }}

              {{ end }}

              {{ if index $yaml_file "common_resource_functionality_resources_common_windows_security" }}
                <h4 id="common-windows-security-{{$resource_ID}}">Windows File Security</h4>

                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_windows_security.md" | markdownify }}
                <strong>Access Control Lists (ACLs)</strong>
                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_windows_security_acl.md" | markdownify }}
                <strong>Inheritance</strong>
                {{ readFile "themes/docs-new/layouts/shortcodes/resources_common_windows_security_inherits.md" | markdownify }}

              {{ end }}
            {{ end }}

            <!-------------- Custom Handlers ------------------->

            <!-------------- File Specificity ------------------->

            {{ if index $yaml_file "cookbook_file_specificity" }}
              <h3 id="cookbook-file-specificity-{{ $resource_ID }}">File Specificity</h3>
              {{ readFile "themes/docs-new/layouts/shortcodes/cookbook_file_specificity.md" | markdownify }}
            {{ end }}


            <!-------------- Examples ------------------->
            <h3 id = "examples-{{$resource_ID}}">Examples</h3>
            <hr>
            {{ with index $yaml_file "examples" }}
              <p>The following examples demonstrate various approaches for using the <strong>{{ index $yaml_file "resource" }}</strong> resource in recipes:</p>
              {{ . | markdownify }}
            {{ else }}
              <p>This resource does not have any examples.</p>
            {{ end }}
          {{ end }}
        {{ end }}<!-- end range yaml files -->
      </div>
    </div>
    {{ partialCached "feedback" . }}
  </main>
{{ end }}
