{% extends "!layout.html" %}

{% block nav_main %}

  <nav class="nav-main" role="navigation" data-topbar>
    <div class="nav-inner">
      <div class="left">
        <h1>
          <a href="https://learn.chef.io">
            <span>Learn Chef</span>
          </a>
        </h1>
      </div>

      <i id="nav-icon" class="fa fa-bars"></i>
      <a href="https://www.chef.io/">
        <img id="logo" src="_static/chef_logo_v2.svg" onerror="_static/chef_logo_v2.png"/>
      </a>

      <ul class="nav-links links-main">
        <li class="nav-link">
          <a href="https://learn.chef.io/tutorials">Tutorials</a>
        </li>
        <li class="nav-link">
          <a href="https://learn.chef.io/skills/">Skills Library</a>
        </li>
        <li class="nav-link is-active">
          <a href="https://docs.chef.io/">Docs</a>
        </li>
        <li class="nav-link">
          <a href="https://www.chef.io/training/">Training</a>
        </li>
      </ul>
    </div>
  </nav>

{{ super() }}

{% endblock %}


{% block footer %}

{{ super() }}

<!-- Start of Segment Analytics Code -->
<script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
  analytics.load("RtyoRfLf1ZETiJcIfkKND3Wq1K1LhYHx");
  analytics.page();
  }}();
</script>
<!-- End of Segment Analytics Code -->

{% endblock %}
