{% extends "layout.html" %}

{% set title = _('Search') %}

{% block body %}

<h1 id="search-documentation">{{ _('Search the Chef Documentation') }}</h1>

<div class="container">

<p>
{% trans %}From here you can use a scoped Google search query to search all of the documentation about Chef that is located at docs.chef.io. (This page requires JavaScript be enabled to view the search box.){% endtrans %}
</p>

<input type="text" placeholder="Search" id="docs-search" name="q" class="st-default-search-input">

<div class="st-search-container"></div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

</div>

{% endblock %}







</body>
</head>
