// Sidebar Styling
$sidebar-docs-width: 250px;
$sidebar-breakpoint: 730px;

.document {
  position: relative;
  margin-top: 53px;
}

@media (min-width: $sidebar-breakpoint) {
  // .documentwrapper {
  //   padding-left: $sidebar-docs-width;
  // }
}

// Right-side TOC and promos
div.sphinxsidebar {
  display: none;
  position: relative;
  z-index: 3;
  margin: 0;
  padding: 0.5em 15px 15px 0;
  width: 240px;
  float: right;
  font-size: 1em;
  text-align: left;
  @media (min-width: 1100px) {
      display: block;
  }
}

div.sidebarinner {
  background-color: #ffffff;
  position: fixed;
  padding-top: 51px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

div.sphinxsidebar-promo {
  max-height: 500px;
  max-width: 230px;
  min-height: 220px;
  min-width: 115px;
  display: flex;
  flex-direction: column;
  position: sticky;
}

div.sphinxsidebar > a.sphinxsidebar-ad {
  padding: 0;
  margin: 0;
}

img.responsive {
  max-width: 220px;
  min-width: 105px;
  height: auto;
}

div.sphinxsidebarwrapper {
  padding: 0;
  padding-bottom: 1em;
  position: relative;
  word-wrap: break-word;
  max-height: 100%;
  max-width: 230px;
  min-height: 50%;
  min-width: 115px;
}

div.sphinxsidebarwrapper > ul > li {
  list-style-type: none;
  word-wrap: break-word;
}

/* -- The colors of the TOC sidebar; h3 is headers, a is the text links and both should be same color */

div.sphinxsidebar h3, div.sphinxsidebar h4 {
  margin: 1em 0 0.5em 0;
  font-size: 1em;
  font-weight: bold;
  padding: 0.1em 0 0.1em 0.5em;
  color: #ffffff;
  background-color: lighten($chef-grey, 33%);
}

div.sphinxsidebar a {
  padding: 0.1em 0em 0.1em 0.5em;
  text-decoration: none;
}

div.sphinxsidebar h3 a {
  color: darken($chef-grey, 10%);
}

div.sphinxsidebar ul {
  padding-left: 1.5em;
  padding: 0;
  line-height: 130%;
  list-style-type: disc;
}

div.sphinxsidebar ul ul {
  margin-left: 20px;
}
