#main-content-col,
.content {
  ul, ol {
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    margin: 1rem 0 1rem 2rem;
  }


  ol {

    > li > ol {
      list-style-type: lower-alpha;
    }

    > li > ul {
      margin: 1rem 0 1rem 1rem;
    }
  }

  ul > li > p {
    margin-bottom: .5rem;
  }

  dl {
    margin: 1rem 0;

    dt {
      em {
      font-weight: normal;
      }
      code {
        font-weight: bold;
      }
      margin-top: 1rem;
    }

    dd {
      margin: 0 0 rem-calc(16px) rem-calc(30px);
    }
  }
}
