{{ define "main" }}
<div id="swiftype-search">

  <div id="swiftype-search-top-container">
    <div id="swiftype-search-top-container-form" class="grid-x">
      <form id="swiftype-search-top-container-form-input" class="cell auto">
        <input id="swiftype-search-top-container-form-input" class="swiftype-search-input align-center" placeholder="Search..." aria-label="Search this site" id="st-overlay-search-input" />
        <button id="swiftype-search-top-container-form-input-close">&#x2715;</button>
      </form>
      <button id="swiftype-search-top-container-form-input-search" class="cell shrink">Search</button>
    </div>
  </div>

  <div id="swiftype-lower-container" class="grid-container fluid">
    <div id="swiftype-content-container" class="grid-x grid-margin-x">
      <!-- LEFT SIDEBAR -->
      <div id="swiftype-container-left-sidebar" class="cell small-12 medium-shrink">
        <div id="">Filters</div>
        <span id="swiftype-custom-facets-toggle-caret" class="show-for-small-only">
          <i class="fas fa-caret-down"></i>
          <i class="fas fa-caret-up" style="display: none;"></i>
        </span>
        <div id="swiftype-custom-facets">
          <div id="search-facet-product">Products</div>
          <ul class="no-bullet">

            {{- range .Site.Params.products -}}

              <li>
                <input type="checkbox" class="product-filter" name="chef-product" id="swiftype-facet-{{.product_key}}" value="{{.product_key}}">
                <label for="swiftype-facet-{{.product_key}}">{{.name}}</label><br />
              </li>

            {{- end -}}

          </ul>
          <div id="search-facet-versions">Versions</div>
          {{- range .Site.Params.products -}}
          {{- if .versions -}}
          <ul class="no-bullet" id="product-versions-{{ .product_key }}" class="product-versions">
            {{ $product_key := .product_key }}
            {{ range .versions }}
            <li class="chef-product-version-{{ $product_key }}">
              <input type="checkbox" class="product-filter {{ $product_key }}" name="chef-product-version" id="swiftype-facet-{{.}}" value="{{.}}">
              <label for="swiftype-facet-{{ $product_key }}">{{.}}</label><br />
            </li>
            {{- end -}}

          </ul>
          {{- end -}}

          {{- end -}}
        </div>
      </div>
      <!-- RESULTS CONTAINER -->
      <div id="swiftype-results-container" class="cell auto">
        <div id="swiftype-results-heading">Search Results</div>
        <ul id="swiftype-search-results">
        </ul>
      </div>
    </div>
  </div>
</div>
{{ end }}
