#feedback{
  margin-top: 2rem;
  padding: 2rem 0 2rem 1rem;
  border-top: 2px solid $border;

  p{
    font-weight: 500;

    &.feedback-request{
      font-weight: 700;
      margin-top: 1.5rem;
    }
  }

  &-form-feedback{
    height:250px;
  }

  #feedback-form-thank-you-message{
    display: none;
  }

  input[type=submit]{
    @include button-style();
  }


  button{
    @include button-style();
  }
}