#utility-bar, #menu, #footer {
  flex-shrink: 0;
}

#main-content {
  // Make sure the header offset does not layer above the nav
  z-index: 0;

  > .grid-container {
    height: 100%;

    > .grid-x {
      height: 100%;

      .position-left{
        width: 260px;
      }
    }
  }

  #col-content {
    background-color: $white;
    height: 100%;
    word-wrap: break-word;
    min-height: 100vh;

    p img {
      display: block;
      margin: rem-calc(32) auto;
      -webkit-box-shadow: $box-shadow;
      -moz-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      border: 1px solid transparent;
      padding: 1rem;
      max-width: 75%;
      cursor: zoom-in;
      transition: 0.3s;
    }

    figure {
      display: inline-block;
      text-align: center;
      font-style: italic;
      font-size: smaller;
      text-indent: 0;
      border: 1px solid transparent;
      -webkit-box-shadow: $box-shadow;
      -moz-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      padding: 0.5rem;
      margin: rem-calc(32) auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 75%;

      img {
        padding: 1rem;
      }
    }

    .no-shadow {
      box-shadow: none;
    }
    a {
      .fa-link {
        margin-left: rem-calc(8);
        color: $lightgray;
        vertical-align: middle;
        font-size: 14px !important;
      }

      &:hover .fa-link {
        color: $blue-darker;
      }
    }
  }
}

#left-nav-on-canvas {
  margin-top: .5rem;
  padding: rem-calc(18 0);
  z-index: 50;
}

#left-nav-off-canvas{
  border-bottom: 1px solid $border;
}

.has-sidebar {
  @include breakpoint(medium) {
    #main-content {
      position: relative;
      background: linear-gradient(90deg, $sidebargray 50%, $white 50%);
    }
  }
}
