.sidebar {
  overflow-y: scroll;
}

#sidebar-nav {
  > .nav {

    @include breakpoint(medium) {
      overflow: auto;
      overflow-y: scroll;
      height: calc(100vh - 140px);
    };

    > .accordion-menu {
      font-size: rem-calc(15px);

      > li {

        > a {
          font-weight: 700;

          @include breakpoint(medium) {
            border-radius: $border-radius-base 0 0 $border-radius-base;
          };
        }
      }

      .nested.is-active li.active a {
        font-weight: normal;
        background: none;
        color: $blue-darker;
      }

      .nested.is-accordion-submenu {
        margin-left: rem-calc(8);
      }
    }

    .menu {
      a {
        color: $body-font-color;
      }
    }
  }
}
