.sidebar {
  overflow-y: scroll;
}

#sidebar-nav {
  //display: flex;
  //align-items: center;
  //flex-direction: column;

  width: 18rem;

  > .nav {

    @include breakpoint(medium) {
      overflow: auto;
      overflow-y: scroll;
      height: calc(100vh - 140px);
    };

    > .accordion-menu {
      //font-size: rem-calc(14px);

      > li {

        > a {
          font-weight: 700;

          @include breakpoint(medium) {
            border-radius: $border-radius-base 0 0 $border-radius-base;
          };
        }
      }
      
      .nested.is-active li.active a {
        font-weight: normal;
        background: none;
        color: $blue-darker;
      }

      .nested.is-accordion-submenu {
        margin-left: rem-calc(8);
      }
    }

    .menu {
      a {
        color: $body-font-color;
      }
    }
  }

  > .search{
   margin: 0 12px;
   //object-fit: contain;
  }
}

.external_link_icon {
  display: inline-block;
  width: 10px;
  background: url("/images/external-link.svg");
  background-size: contain;
  padding: 5px;
  filter: invert(51%) sepia(0%) saturate(13%) hue-rotate(142deg) brightness(89%) contrast(83%);
}

#header-logo {

  img {
    @include transition();
    padding: 8px 0;
    width: 90px;
    margin: 2px 18px;
  }
}

/* #header-logo {

  img {
    @include transition();
    padding: 8px 0;
    width: 90px;
    margin-top: 2px;
  }
} */