.rating {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
  }
  
  .like,
  .dislike {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
  }
  
  .dislike:hover,
  .like:hover {
    color: #2EBDD1;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
  
  .active {
    color: #2EBDD1;
  }