Use a double-quoted string:

``` ruby
registry_key "HKEY_LOCAL_MACHINE\\SOFTWARE\\path\\to\\key\\AU" do
  values [{
    name: 'NoAutoRebootWithLoggedOnUsers',
    type: :dword,
    data: ''
    }]
  action :delete
end
```

or a single-quoted string:

``` ruby
registry_key 'HKEY_LOCAL_MACHINE\SOFTWARE\path\to\key\AU' do
  values [{
    name: 'NoAutoRebootWithLoggedOnUsers',
    type: :dword,
    data: ''
    }]
  action :delete
end
```

<div class="note" markdown="1">

<div class="admonition-title" markdown="1">

Note

</div>

If `data:` is not specified, you get an error:
`Missing data key in RegistryKey values hash`

</div>