<p>Exception and report handlers are used to trigger certain behaviors in response to specific situations, typically identified during a Chef Infra Client run.</p>
<ul>
<li>An exception handler is used to trigger behaviors when a defined aspect of a Chef Infra Client run fails.</li>
<li>A report handler is used to trigger behaviors when a defined aspect of a Chef Infra Client run is successful.</li>
</ul>
<p>Both types of handlers can be used to gather data about a Chef Infra Client run and can provide rich levels of data about all types of usage, which can be used later for trending and analysis across the entire organization.</p>
<p>Exception and report handlers are made available to a Chef Infra Client run in one of the following ways:</p>
<ul>
<li>By adding the <strong>chef_handler</strong> resource to a recipe, and then adding that recipe to the run-list for a node. (The <strong>chef_handler</strong> resource is available from the <strong>chef_handler</strong> cookbook.)</li>
<li>By adding the handler to one of the following settings in the node's client.rb file: <code>exception_handlers</code> and/or <code>report_handlers</code></li>
</ul>
