<p>The <code>report</code> interface is used to define how a handler will behave and is a required part of any custom handler. The syntax for the <code>report</code> interface is as follows:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a><span class="kw">def</span> report</span>
<span id="cb1-2"><a href="#cb1-2"></a>  <span class="co"># Ruby code</span></span>
<span id="cb1-3"><a href="#cb1-3"></a><span class="kw">end</span></span></code></pre></div>
<p>The Ruby code used to define a custom handler will vary significantly from handler to handler. Chef Infra Client includes two default handlers: <code>error_report</code> and <code>json_file</code>. Their use of the <code>report</code> interface is shown below.</p>
<p>The <a href="https://github.com/chef/chef/blob/master/lib/chef/handler/error_report.rb">error_report</a> handler:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb2-1"><a href="#cb2-1"></a>require <span class="st">&#39;chef/handler&#39;</span></span>
<span id="cb2-2"><a href="#cb2-2"></a>require <span class="st">&#39;chef/resource/directory&#39;</span></span>
<span id="cb2-3"><a href="#cb2-3"></a></span>
<span id="cb2-4"><a href="#cb2-4"></a><span class="kw">class</span> <span class="dt">Chef</span></span>
<span id="cb2-5"><a href="#cb2-5"></a>  <span class="kw">class</span> <span class="dt">Handler</span></span>
<span id="cb2-6"><a href="#cb2-6"></a>    <span class="kw">class</span> <span class="dt">ErrorReport</span> &lt; ::<span class="dt">Chef</span>::<span class="dt">Handler</span></span>
<span id="cb2-7"><a href="#cb2-7"></a>      <span class="kw">def</span> report</span>
<span id="cb2-8"><a href="#cb2-8"></a>        <span class="dt">Chef</span>::<span class="dt">FileCache</span>.store(<span class="st">&#39;failed-run-data.json&#39;</span>, <span class="dt">Chef</span>::<span class="dt">JSONCompat</span>.to_json_pretty(data), <span class="bn">0640</span>)</span>
<span id="cb2-9"><a href="#cb2-9"></a>        <span class="dt">Chef</span>::<span class="dt">Log</span>.fatal(<span class="st">&quot;Saving node information to </span><span class="ot">#{</span><span class="dt">Chef</span>::<span class="dt">FileCache</span>.load(<span class="st">&#39;failed-run-data.json&#39;</span>, <span class="dv">false</span>)<span class="ot">}</span><span class="st">&quot;</span>)</span>
<span id="cb2-10"><a href="#cb2-10"></a>      <span class="kw">end</span></span>
<span id="cb2-11"><a href="#cb2-11"></a>    <span class="kw">end</span></span>
<span id="cb2-12"><a href="#cb2-12"></a> <span class="kw">end</span></span>
<span id="cb2-13"><a href="#cb2-13"></a><span class="kw">end</span></span></code></pre></div>
<p>The <a href="https://github.com/chef/chef/blob/master/lib/chef/handler/json_file.rb">json_file</a> handler:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb3-1"><a href="#cb3-1"></a>require <span class="st">&#39;chef/handler&#39;</span></span>
<span id="cb3-2"><a href="#cb3-2"></a>require <span class="st">&#39;chef/resource/directory&#39;</span></span>
<span id="cb3-3"><a href="#cb3-3"></a></span>
<span id="cb3-4"><a href="#cb3-4"></a><span class="kw">class</span> <span class="dt">Chef</span></span>
<span id="cb3-5"><a href="#cb3-5"></a>  <span class="kw">class</span> <span class="dt">Handler</span></span>
<span id="cb3-6"><a href="#cb3-6"></a>    <span class="kw">class</span> <span class="dt">JsonFile</span> &lt; ::<span class="dt">Chef</span>::<span class="dt">Handler</span></span>
<span id="cb3-7"><a href="#cb3-7"></a>      <span class="ot">attr_reader</span> <span class="st">:config</span></span>
<span id="cb3-8"><a href="#cb3-8"></a>      <span class="kw">def</span> initialize(config={})</span>
<span id="cb3-9"><a href="#cb3-9"></a>        <span class="ot">@config</span> = config</span>
<span id="cb3-10"><a href="#cb3-10"></a>        <span class="ot">@config</span>[<span class="st">:path</span>] ||= <span class="st">&#39;/var/chef/reports&#39;</span></span>
<span id="cb3-11"><a href="#cb3-11"></a>        <span class="ot">@config</span></span>
<span id="cb3-12"><a href="#cb3-12"></a>      <span class="kw">end</span></span>
<span id="cb3-13"><a href="#cb3-13"></a>      <span class="kw">def</span> report</span>
<span id="cb3-14"><a href="#cb3-14"></a>        <span class="kw">if</span> exception</span>
<span id="cb3-15"><a href="#cb3-15"></a>          <span class="dt">Chef</span>::<span class="dt">Log</span>.error(<span class="st">&#39;Creating JSON exception report&#39;</span>)</span>
<span id="cb3-16"><a href="#cb3-16"></a>        <span class="kw">else</span></span>
<span id="cb3-17"><a href="#cb3-17"></a>          <span class="dt">Chef</span>::<span class="dt">Log</span>.info(<span class="st">&#39;Creating JSON run report&#39;</span>)</span>
<span id="cb3-18"><a href="#cb3-18"></a>        <span class="kw">end</span></span>
<span id="cb3-19"><a href="#cb3-19"></a>        build_report_dir</span>
<span id="cb3-20"><a href="#cb3-20"></a>        savetime = <span class="dt">Time</span>.now.strftime(<span class="st">&#39;%Y%m%d%H%M%S&#39;</span>)</span>
<span id="cb3-21"><a href="#cb3-21"></a>        <span class="dt">File</span>.open(<span class="dt">File</span>.join(config[<span class="st">:path</span>], <span class="st">&#39;chef-run-report-#{savetime}.json&#39;</span>), <span class="ch">&#39;w&#39;</span>) <span class="kw">do</span> |file|</span>
<span id="cb3-22"><a href="#cb3-22"></a>          run_data = data</span>
<span id="cb3-23"><a href="#cb3-23"></a>          run_data[<span class="st">:start_time</span>] = run_data[<span class="st">:start_time</span>].to_s</span>
<span id="cb3-24"><a href="#cb3-24"></a>          run_data[<span class="st">:end_time</span>] = run_data[<span class="st">:end_time</span>].to_s</span>
<span id="cb3-25"><a href="#cb3-25"></a>          file.puts <span class="dt">Chef</span>::<span class="dt">JSONCompat</span>.to_json_pretty(run_data)</span>
<span id="cb3-26"><a href="#cb3-26"></a>        <span class="kw">end</span></span>
<span id="cb3-27"><a href="#cb3-27"></a>      <span class="kw">end</span></span>
<span id="cb3-28"><a href="#cb3-28"></a>      <span class="kw">def</span> build_report_dir</span>
<span id="cb3-29"><a href="#cb3-29"></a>        <span class="kw">unless</span> <span class="dt">File</span>.exist?(config[<span class="st">:path</span>])</span>
<span id="cb3-30"><a href="#cb3-30"></a>          <span class="dt">FileUtils</span>.mkdir_p(config[<span class="st">:path</span>])</span>
<span id="cb3-31"><a href="#cb3-31"></a>          <span class="dt">File</span>.chmod(<span class="dv">00700</span>, config[<span class="st">:path</span>])</span>
<span id="cb3-32"><a href="#cb3-32"></a>        <span class="kw">end</span></span>
<span id="cb3-33"><a href="#cb3-33"></a>      <span class="kw">end</span></span>
<span id="cb3-34"><a href="#cb3-34"></a>    <span class="kw">end</span></span>
<span id="cb3-35"><a href="#cb3-35"></a>  <span class="kw">end</span></span>
<span id="cb3-36"><a href="#cb3-36"></a><span class="kw">end</span></span></code></pre></div>
