{{ $yaml_file := .yaml_file }}
{{ $product := .product }}
{{ $reusable_base := .reusable_base }}
{{ $resource_ID := .resource_ID }}
{{ $heading_base_level := .heading_base_level }}
{{ $include_resource_id := .include_resource_id }}

{{ if $include_resource_id }}
  {{ $resource_ID = printf "%s%s" "-" $resource_ID }}
{{ end }}

{{ with index $yaml_file "resource_description_list" }}
  {{ range . }}
    {{ range $key, $value := . }}
      {{ if eq $key "markdown" }}
        <p>{{- $value | markdownify -}}</p>
      {{ end }}
      {{ if eq $key "note" }}
        <div class="admonition-note">
          <p class="admonition-note-title">Note</p>
          <div class="admonition-note-text">
            {{ range $subkey, $subvalue := $value }}
              {{ if eq $subkey "markdown" }}
                <p>
                  {{- $subvalue | markdownify -}}
                </p>
              {{ end }}
              {{ if eq $subkey "shortcode" }}
                <p>
                  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" $subvalue) }}
                </p>
              {{ end }}
            {{ end }}
          </div>
        </div>
      {{ end }}
      {{ if eq $key "warning" }}
      <div class="admonition-warning">
        <p class="admonition-warning-title">Warning</p>
        <div class="admonition-warning-text">
          {{ range $subkey, $subvalue := $value }}
            {{ if eq $subkey "markdown" }}
              <p>
                {{- $subvalue | markdownify -}}
              </p>
            {{ end }}
            {{ if eq $subkey "shortcode" }}
              <p>
                {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" $subvalue) }}
              </p>
            {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ if eq $key "shortcode" }}
        <p>
          {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" $value) }}
        </p>
      {{ end }}
      {{ if and (eq $key "notes_resource_based_on_package") (eq $value true)}}
        <div class="admonition-note">
          <p class="admonition-note-title">Note</p>
          <div class="admonition-note-text">
            {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "notes_resource_based_on_package.md") }}
          </div>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if and ( ne (index $yaml_file "resource_new_in") "" ) ( index $yaml_file "resource_new_in" )}}
  {{ if eq $product "infra" }}
    <p><strong>New in Chef Infra Client {{ index $yaml_file "resource_new_in" }}.</strong></p>
  {{ else if ( eq $product "desktop") }}
    <p><strong>New in Chef Desktop {{ index $yaml_file "resource_new_in" }}.</strong></p>
  {{ end }}
{{ end }}

<!-------------- Handler Types ------------------->

{{ with index $yaml_file "handler_types" }}
  <h{{ $heading_base_level }} id="handler-types{{ $resource_ID }}">Handler types</h{{ $heading_base_level }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "handler_types.md") }}

  <h{{ add  $heading_base_level 1 }} id="handler-type-exception-report{{ $resource_ID }}">Exception / report</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "handler_type_exception_report.md") }}
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "handler_type_exception_report_run_from_recipe.md") }}

  <h{{ add  $heading_base_level 1 }} id="handler-type-start{{ $resource_ID }}">Start</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "handler_type_start.md") }}
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "handler_type_start_run_from_recipe.md") }}
{{ end }}

<!-------------- Syntax ------------------->

<h{{ $heading_base_level }} id="syntax{{ $resource_ID }}">Syntax</h{{ $heading_base_level }}>

<p>{{ index $yaml_file "syntax_description" | markdownify }}</p>

{{ with index $yaml_file "syntax_code_block" }}
  <p>{{ highlight index $yaml_file . "ruby" "" }}</p>
{{ end }}

{{ with index $yaml_file "syntax_properties_list" }}
  <p>where:</p>
  <ul>
    {{ range . }}
    <li>{{ . | markdownify }}</li>
    {{ end }}
  </ul>
{{ end }}

{{ with index $yaml_file "syntax_full_code_block" }}
  <p>The full syntax for all of the properties that are available to the <strong>{{ index $yaml_file "resource" }}</strong> resource is:</p>
  <p>{{- highlight ( trim . "\n") "ruby" "" -}}</p>
{{ end }}

{{ with index $yaml_file "syntax_full_properties_list" }}
  <p>where:</p>
  <ul>
    {{ range . }}
    <li>{{ . | markdownify }}</li>
    {{ end }}
  </ul>
{{ end }}

{{ with index $yaml_file "syntax_shortcode" }}
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" .) }}
{{ end }}

{{ with index $yaml_file "registry_key" }}
  <h{{ add  $heading_base_level 1 }} id="windows-registry-key-backslashes{{ $resource_ID }}">Registry key path separators</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "windows_registry_key_backslashes.md") }}

  <h{{ add  $heading_base_level 1 }} id="dsl-recipe-method-windows-methods{{ $resource_ID }}">Chef Infra Language methods</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_windows_methods.md") }}

  <h{{ add  $heading_base_level 2 }} id="dsl-recipe-method-registry-data-exists{{ $resource_ID }}">registry_data_exists?</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_data_exists.md") }}

  <div class="admonition-note">
    <p class="admonition-note-title">Note</p>
    <div class="admonition-note-text">
      {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "notes_registry_key_not_if_only_if.md") }}
    </div>
  </div>

  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_data_exists_syntax.md") }}

  <h{{ add  $heading_base_level 2 }} id="dsl-recipe-method-registry-get-subkeys{{ $resource_ID }}">registry_get_subkeys</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_get_subkeys.md") }}

  <div class="admonition-note">
    <p class="admonition-note-title">Note</p>
    <div class="admonition-note-text">
      {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "notes_registry_key_not_if_only_if.md") }}
    </div>
  </div>

  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_get_subkeys_syntax.md") }}

  <h{{ add  $heading_base_level 2 }} id="dsl-recipe-method-registry-get-values{{ $resource_ID }}">registry_get_values</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_get_values.md") }}

  <div class="admonition-note">
    <p class="admonition-note-title">Note</p>
    <div class="admonition-note-text">
      {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "notes_registry_key_not_if_only_if.md") }}
    </div>
  </div>

  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_get_values_syntax.md") }}

  <h{{ add  $heading_base_level 2 }} id="dsl-recipe-method-registry-has-subkeys{{ $resource_ID }}">registry_has_subkeys?</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_has_subkeys.md") }}

  <div class="admonition-note">
    <p class="admonition-note-title">Note</p>
    <div class="admonition-note-text">
      {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "notes_registry_key_not_if_only_if.md") }}
    </div>
  </div>

  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_has_subkeys_syntax.md") }}

  <h{{ add  $heading_base_level 2 }} id="dsl-recipe-method-registry-key-exists{{ $resource_ID }}">registry_key_exists?</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_key_exists.md") }}

  <div class="admonition-note">
    <p class="admonition-note-title">Note</p>
    <div class="admonition-note-text">
      {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "notes_registry_key_not_if_only_if.md") }}
    </div>
  </div>

  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_key_exists_syntax.md") }}

  <h{{ add  $heading_base_level 2 }} id="dsl-recipe-method-registry-value-exists{{ $resource_ID }}">registry_value_exists?</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_value_exists.md") }}

  <div class="admonition-note">
    <p class="admonition-note-title">Note</p>
    <div class="admonition-note-text">
      {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "notes_registry_key_not_if_only_if.md") }}
    </div>
  </div>

  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "infra_lang_method_registry_value_exists_syntax.md") }}

{{ end }}

<!-------------- Nameless ------------------->

{{ with index $yaml_file "nameless_apt_update" }}
  <h{{ $heading_base_level }} id="nameless{{ $resource_ID }}">Nameless</h{{ $heading_base_level }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "nameless_apt_update.md") }}
{{ end }}

{{ with index $yaml_file "nameless_build_essential" }}
  <h{{ $heading_base_level }} id="nameless{{ $resource_ID }}">Nameless</h{{ $heading_base_level }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "nameless_build_essential.md") }}
{{ end }}

<!-------------- Gem Package Options ------------------->

{{ with index $yaml_file "resource_package_options" }}
  <h{{ $heading_base_level }} id="resource-package-options{{ $resource_ID }}">Gem package options</h{{ $heading_base_level }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resource_package_options.md") }}

  <h{{ add  $heading_base_level 1 }} id="resource-package-options-hash{{ $resource_ID }}">Specify with hash</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resource_package_options_hash.md") }}
  <strong>Example</strong>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resource_package_install_gem_with_hash_options.md") }}
  <h{{ add  $heading_base_level 1 }} id="resource-package-options-string{{ $resource_ID }}">Specify with string</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resource_package_options_string.md") }}
  <strong>Example</strong>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resource_package_install_gem_with_options_string.md") }}

  <h{{ add  $heading_base_level 1 }} id="resource-package-options-gemrc{{ $resource_ID }}">Specify with .gemrc file</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resource_package_options_gemrc.md") }}
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resource_package_install_gem_with_gemrc.md") }}
{{ end }}

<!-------------- Actions ------------------->

{{ if and ( index $yaml_file "actions_list" ) ( ne (index $yaml_file "actions_list") "" )}}
  {{ with index $yaml_file "actions_list" }}

    <h{{ $heading_base_level }} id="actions{{ $resource_ID }}">Actions</h{{ $heading_base_level }}>

    <p>The <strong>{{ index $yaml_file "resource" }}</strong> resource has the following actions:</p>
    <dl>
      {{ range $key, $value := . }}
        <dt><code>{{ $key | markdownify }}</code></dt>
        {{ range $subkey, $subvalue := $value }}
          {{ if eq $subkey "shortcode" }}
            <dd>{{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" $subvalue) }}</dd>
          {{ end }}
          {{ if eq $subkey "markdown" }}
            <dd>{{- $subvalue | markdownify -}}</dd>
          {{ end }}
        {{ end }}
      {{ end }}
    </dl>
  {{ end }}
{{ end }}

<!-------------- Properties ------------------->

<h{{ $heading_base_level }} id="properties{{ $resource_ID }}">Properties</h{{ $heading_base_level }}>

{{ if or (index $yaml_file "properties_shortcode") (index $yaml_file "properties_list") }}
  {{ with index $yaml_file "properties_list" }}
    <p>The <strong>{{ index $yaml_file "resource" }}</strong> resource has the following properties:</p>
    {{ range . }}
      <dl>
        {{ if and (.property) (ne .property nil) }}
          <dt>
            <code>{{ .property }}</code>
          </dt>
        {{ end }}

        <dd>
          {{ if ne .ruby_type nil }}
            <strong>Ruby Type:</strong> {{ .ruby_type }} {{ if .default_value }}| <strong>Default Value:</strong> <code>{{ .default_value }}</code>{{ end }} {{ if .required }}| <code>REQUIRED</code>{{ end }}
            {{ if .allowed_values }}</br><strong>Allowed Values:</strong> <code>{{ .allowed_values }}</code>{{ end }}
            </p>
          {{ end }}

          {{ range .description_list }}
            {{ range $key, $value :=  . }}
              {{ if eq $key "markdown" }}
                <p>{{- $value | markdownify -}}</p>
              {{ end }}

              {{ if eq $key "note" }}
                <div class="admonition-note">
                  <p class="admonition-note-title">Note</p>
                  <div class="admonition-note-text">
                    {{ range $subkey, $subvalue := $value }}
                      {{ if eq $subkey "markdown" }}
                        <p>
                          {{- $subvalue | markdownify -}}
                        </p>
                      {{ end }}
                      {{ if eq $subkey "shortcode" }}
                        <p>
                          {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" $subvalue) }}
                        </p>
                      {{ end }}
                    {{ end }}
                  </div>
                </div>
              {{ end }}
              {{ if eq $key "warning" }}
                <div class="admonition-warning">
                  <p class="admonition-warning-title">Warning</p>
                  <div class="admonition-warning-text">
                    {{ range $subkey, $subvalue := $value }}
                      {{ if eq $subkey "markdown" }}
                        <p>
                          {{- $subvalue | markdownify -}}
                        </p>
                      {{ end }}
                      {{ if eq $subkey "shortcode" }}
                        <p>
                          {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" $subvalue) }}
                        </p>
                      {{ end }}
                    {{ end }}
                  </div>
                </div>
              {{ end }}
              {{ if eq $key "shortcode" }}
                <p>
                  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" $value) }}
                </p>
              {{ end }}
            {{ end }}
          {{ end }}

          {{ if and (.new_in) (ne .new_in nil) }}
            <p>
              {{ if ge .new_in 15 }}
                New in Chef Infra Client {{ .new_in }}
              {{ else }}
                New in Chef Client {{ .new_in }}
              {{ end }}
            </p>
          {{ end }}
          {{ if and (.note) (ne .note nil) }}
            <div class="admonition-note">
              <p class="admonition-note-title">Note</p>
              <div class="admonition-note-text">{{- .note | markdownify -}}</div>
            </div>
          {{ end }}
        </dd>
      </dl>
    {{ end }}
  {{ end }}
  {{ with index $yaml_file "properties_shortcode" }}
    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" .) }}
  {{ end }}
{{ else }}
  <p>This resource does not have any properties.</p>
{{ end }}

{{ with index $yaml_file "multi_package_resource" }}
  <h{{ add  $heading_base_level 1 }} id="multiple-packages-properties{{ $resource_ID }}">Multiple packages</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_multiple_packages.md") }}
{{ end }}

{{ with index $yaml_file "resource_directory_recursive_directories" }}
  <h{{ add  $heading_base_level 1 }} id="directory-recursive-directories{{ $resource_ID }}">Recursive directories</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "remote_directory_recursive_directories.md") }}
{{ end }}

{{ with index $yaml_file "resources_common_atomic_update" }}
  <h{{ add  $heading_base_level 1 }} id="common-atomic-update{{ $resource_ID }}">Atomic file updates</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_atomic_update.md") }}
{{ end }}

{{ with index $yaml_file "properties_resources_common_windows_security" }}
  <h{{ add  $heading_base_level 1 }} id="common-windows-security{{ $resource_ID }}">Windows file security</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_windows_security.md") }}
  <strong>Access Control Lists (ACLs)</strong>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_windows_security_acl.md") }}
  <strong>Inheritance</strong>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_windows_security_inherits.md") }}
{{ end }}

{{ with index $yaml_file "remote_file_prevent_re_downloads" }}
  <h{{ add  $heading_base_level 1 }} id="prevent-re-downloads{{ $resource_ID }}">Prevent re-downloads</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "remote_file_prevent_re_downloads.md") }}
{{ end }}

{{ with index $yaml_file "remote_file_unc_path" }}
  <h{{ add  $heading_base_level 1 }} id="access-a-remote-unc-path-on-windows{{ $resource_ID }}">Access a remote UNC path on Windows</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "remote_file_unc_path.md") }}
{{ end }}

{{ with index $yaml_file "ps_credential_helper" }}
  <h{{ add  $heading_base_level 1 }} id="ps-credential-helper{{ $resource_ID }}">ps_credential helper</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "ps_credential_helper.md") }}
{{ end }}

<!-------------- Chef::Log Entries ------------------->

{{ with index $yaml_file "ruby_style_basics_chef_log" }}
  <h{{ $heading_base_level }} id="ruby-style-basics-chef-log{{ $resource_ID }}">Log entries</h{{ $heading_base_level }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "ruby_style_basics_chef_log.md") }}
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "ruby_class_chef_log_fatal.md") }}
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "ruby_class_chef_log_multiple.md") }}
{{ end }}

<!-------------- Debug Recipes with chef-shell ------------------->

{{ with index $yaml_file "debug_recipes_chef_shell" }}

  <h{{ $heading_base_level }} id="debug-recipes-chef-shell{{ $resource_ID }}">Debug recipes with chef-shell</h{{ $heading_base_level }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_summary.md") }}

  <h{{ add  $heading_base_level 1 }} id="chef-shell-modes{{ $resource_ID }}">Modes</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_modes.md") }}

  <h{{ add  $heading_base_level 1 }} id="debug-recipes-config{{ $resource_ID }}">Configure</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_config.md") }}

  <h{{ add  $heading_base_level 2 }} id="chef-shell-config-rb{{ $resource_ID }}">chef-shell.rb</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_config_rb.md") }}

  <h{{ add  $heading_base_level 2 }} id="chef-shell-run-as-chef-client{{ $resource_ID }}">Run as a Chef Infra Client</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_run_as_chef_client.md") }}

  <h{{ add  $heading_base_level 1 }} id="chef-shell-manage{{ $resource_ID }}">Manage</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_manage.md") }}

  <h{{ add  $heading_base_level 1 }} id="chef-shell-breakpoints{{ $resource_ID }}">Use breakpoints</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_breakpoints.md") }}

  <h{{ add  $heading_base_level 2 }} id="chef-shell-step-through-run-list{{ $resource_ID }}">Step through run-list</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_step_through_run_list.md") }}

  <h{{ add  $heading_base_level 2 }} id="chef-shell-debug-existing-recipe{{ $resource_ID }}">Debug existing recipe</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_debug_existing_recipe.md") }}

  <h{{ add  $heading_base_level 2 }} id="chef-shell-advanced-debug{{ $resource_ID }}">Advanced debugging</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_advanced_debug.md") }}

  <h{{ add  $heading_base_level 1 }} id="chef-shell-debug-examples{{ $resource_ID }}">Debug examples</h{{ add  $heading_base_level 1 }}>

  <p>The following examples show how to use chef-shell. </p>
  <h{{ add  $heading_base_level 2 }} id="chef-shell-debug-example-hello-world{{ $resource_ID }}">"Hello world"</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_example_hello_world.md") }}

  <h{{ add  $heading_base_level 2 }} id="chef-shell-debug-examples-specific-nodes{{ $resource_ID }}">Get specific nodes</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "chef_shell_example_get_specific_nodes.md") }}

{{ end }}

<!-------------- Using Templates ------------------->

{{ with index $yaml_file "template_requirements" }}
  <h{{ $heading_base_level }} id="template-requirements{{ $resource_ID }}">Using templates</h{{ $heading_base_level }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "template_requirements.md") }}

  <h{{ add  $heading_base_level 1 }} id="template-specificity{{ $resource_ID }}">File specificity</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "template_specificity.md") }}
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "template_specificity_pattern.md") }}
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "template_specificity_example.md") }}

  <h{{ add  $heading_base_level 1 }} id="template-helpers{{ $resource_ID }}">Helpers</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "template_helpers.md") }}

  <h{{ add  $heading_base_level 2 }} id="template-inline-method{{ $resource_ID }}">Inline methods</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resource_template_inline_method.md") }}

  <h{{ add  $heading_base_level 2 }} id="template-inline-module{{ $resource_ID }}">Inline modules</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resource_template_inline_module.md") }}

  <h{{ add  $heading_base_level 2 }} id="template-library-module{{ $resource_ID }}">Library modules</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resource_template_library_module.md") }}

  <h{{ add  $heading_base_level 1 }} id="template-host-notation{{ $resource_ID }}">Host notation</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "template_host_notation.md") }}

  <h{{ add  $heading_base_level 1 }} id="template-partials{{ $resource_ID }}">Partial templates</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "template_partials.md") }}

  <h{{ add  $heading_base_level 2 }} id="template-partials-render-method{{ $resource_ID }}">render method</h{{ add  $heading_base_level 2 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "template_partials_render_method.md") }}

  <h{{ add  $heading_base_level 1 }} id="template-transfer-frequency{{ $resource_ID }}">Transfer frequency</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "template_transfer_frequency.md") }}

  <h{{ add  $heading_base_level 1 }} id="template-variables{{ $resource_ID }}">Variables</h{{ add  $heading_base_level 1 }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "template_variables.md") }}

{{ end }}

<!-------------- Target Mode ------------------->

{{ with index $yaml_file "target_mode" }}
  <h{{ $heading_base_level }} id="agentless-mode{{ $resource_ID }}">Agentless mode</h{{ $heading_base_level }}>

  <p>The <strong>{{ index $yaml_file "resource" }}</strong> resource has {{ .support }} support for Agentless Mode</p>

  {{ if .support }}
    <p>Supported platforms:</p>

    {{ if and (.platforms) (ne .platforms nil) }}
    <ul>
      {{ range $key := .platforms }}
      <li>{{ $key }}</li>
      {{ end }}
    </ul>
    <!-- default platforms -->
    {{ else }}
    <ul>
      <li>aix</li>
      <li>bsd</li>
      <li>linux</li>
      <li>solaris</li>
    </ul>
    {{ end }}

    {{ if .description }}
      <p>{{ replace .description "Target Mode" "Agentless Mode" | markdownify }}</p>
    {{ end }}

    <p>
      {{ if and (.updated) (ne .updated nil) }}
      Support was initially added in Chef Infra Client {{ .introduced }} and updated later in {{ .updated }}.
      {{ else }}
      Support was initially added in Chef Infra Client {{ default "19.0" .introduced }}.
      {{ end }}
    </p>

    {{ if and (.requirements) (ne .requirements nil) }}
      <p>
        {{ .requirements }}
      </p>
    {{ end }}
  {{ end }}
{{ end }}

<!------------------ Unit File Verification ---------------------->

{{ with index $yaml_file "unit_file_verification" }}
  <h{{ $heading_base_level }} id="unit-file-verification{{ $resource_ID }}">Unit file verification</h{{ $heading_base_level }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "unit_file_verification.md") }}
{{ end }}

<!-------------- Common Resource Functionality ------------------->

{{ if or (index $yaml_file "resources_common_properties" ) ( index $yaml_file "resources_common_notification" ) ( index $yaml_file "resources_common_guards" ) ( index $yaml_file "multi_package_resource" ) ( index $yaml_file "resources_common_guard_interpreter" ) ( index $yaml_file "remote_directory_recursive_directories" ) ( index $yaml_file "common_resource_functionality_resources_common_windows_security" )}}

  <h{{ $heading_base_level }} id="functionality{{ $resource_ID }}">Common resource functionality</h{{ $heading_base_level }}>

  <p>Chef resources include common properties, notifications, and resource guards.</p>

  {{ if index $yaml_file "resources_common_properties" }}
    <h{{ add  $heading_base_level 1 }} id="common-properties{{ $resource_ID }}">Common properties</h{{ add  $heading_base_level 1 }}>

    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_properties.md") }}

  {{ end }}

  {{ if index $yaml_file "resources_common_notification" }}
    <h{{ add  $heading_base_level 1 }} id="common-notifications{{ $resource_ID }}">Notifications</h{{ add  $heading_base_level 1 }}>

    <dl>
      <dt>
        <code>notifies</code>
      </dt>
      <dd>
        <p><strong>Ruby Type:</strong> Symbol, 'Chef::Resource[String]'</p>
        {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_notification_notifies.md") }}
      </dd>
    </dl>

    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_notification_timers.md") }}
    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_notification_notifies_syntax.md") }}

    <dl>
      <dt>
        <code>subscribes</code>
      </dt>
      <dd>
        <p><strong>Ruby Type:</strong>  Symbol, 'Chef::Resource[String]'</p>
      </dd>
    </dl>
    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_notification_subscribes.md") }}
    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_notification_timers.md") }}
    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_notification_subscribes_syntax.md") }}

  {{ end }}

  {{ if index $yaml_file "resources_common_guards" }}
    <h{{ add  $heading_base_level 1 }} id="guards{{ $resource_ID }}">Guards</h{{ add  $heading_base_level 1 }}>

    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_guards.md") }}
    <strong>Properties</strong>
    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_guards_properties.md") }}

  {{ end }}

  {{ if index $yaml_file "multi_package_resource" }}
    <h{{ add  $heading_base_level 1 }} id="multiple-packages-common{{ $resource_ID }}">Multiple packages</h{{ add  $heading_base_level 1 }}>

    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_multiple_packages.md") }}

  {{ end }}

  {{ if index $yaml_file "resources_common_guard_interpreter" }}
    <h{{ add  $heading_base_level 1 }} id="guard-interpreter{{ $resource_ID }}">Guard interpreter</h{{ add  $heading_base_level 1 }}>

    <p>
      {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_guard_interpreter.md") }}
    </p>
    <strong>Attributes</strong>
    <p>
      {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_guard_interpreter_attributes.md") }}
    </p>

    <strong>Inheritance</strong>
    <p>
      {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_guard_interpreter_attributes_inherit.md") }}
    </p>

    <strong>Example</strong>
    <p>
      {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_guard_interpreter_example_default.md") }}
    </p>

  {{ end }}

  {{ if index $yaml_file "remote_directory_recursive_directories" }}
    <h{{ add  $heading_base_level 1 }} id="recursive-directories{{ $resource_ID }}">Recursive directories</h{{ add  $heading_base_level 1 }}>
    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "remote_directory_recursive_directories.md") }}
    <h{{ add  $heading_base_level 2 }} id="recursive-directories-example{{ $resource_ID }}">Example</h{{ add  $heading_base_level 2 }}>
    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "remote_directory_recursive_directories_example.md") }}

  {{ end }}

  {{ if index $yaml_file "common_resource_functionality_resources_common_windows_security" }}
    <h{{ add  $heading_base_level 1 }} id="common-windows-security{{ $resource_ID }}">Windows file security</h{{ add  $heading_base_level 1 }}>

    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_windows_security.md") }}
    <strong>Access Control Lists (ACLs)</strong>
    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_windows_security_acl.md") }}
    <strong>Inheritance</strong>
    {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "resources_common_windows_security_inherits.md") }}

  {{ end }}

{{ end }}

<!-------------- File Specificity ------------------->

{{ if index $yaml_file "cookbook_file_specificity" }}
  <h{{ $heading_base_level }} id="cookbook-file-specificity{{ $resource_ID }}">File specificity</h{{ $heading_base_level }}>
  {{ partial "utils/read_reusable_md.html" (dict "base" $reusable_base "filename" "cookbook_file_specificity.md") }}
{{ end }}

<!-------------- Examples ------------------->

<h{{ $heading_base_level }} id="examples{{ $resource_ID }}">Examples</h{{ $heading_base_level }}>

{{ with index $yaml_file "examples" }}
  <p>The following examples demonstrate various approaches for using the <strong>{{ index $yaml_file "resource" }}</strong> resource in recipes:</p>
  {{ . | markdownify }}
{{ else }}
  <p>This resource does not have any examples.</p>
{{ end }}
