<p>This resource can be <strong>nameless</strong>. Add the resource itself to your recipe to get the default behavior:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>apt_update</span></code></pre></div>
<p>will behave the same as:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb2-1"><a href="#cb2-1"></a>apt_update <span class="st">'update'</span></span></code></pre></div>