<p>
  This resource is the base resource for several other resources used for package management on specific platforms. While it is possible to use each of these specific resources, it is recommended to use the <strong>package</strong> resource as often as possible.
</p>

<p>
  For more information about specific resources for specific platforms, see the following topics:
</p>

<ul>
  <li><a href="/resources/apt_package/">apt_package</a></li>
  <li><a href="/resources/bff_package/">bff_package</a></li>  
  <li><a href="/resources/cab_package/">cab_package</a></li>
  <li><a href="/resources/chef_gem/">chef_gem</a></li>
  <li><a href="/resources/chocolatey_package/">chocolatey_package</a></li>
  <li><a href="/resources/dnf_package/">dnf_package</a></li>
  <li><a href="/resources/dpkg_package/">dpkg_package</a></li>
  <li><a href="/resources/freebsd_package/">freebsd_package</a></li>
  <li><a href="/resources/gem_package/">gem_package</a></li>
  <li><a href="/resources/homebrew_package/">homebrew_package</a></li>
  <li><a href="/resources/ips_package/">ips_package</a></li>
  <li><a href="/resources/macports_package/">macports_package</a></li>
  <li><a href="/resources/openbsd_package/">openbsd_package</a></li>
  <li><a href="/resources/pacman_package/">pacman_package</a></li>
  <li><a href="/resources/paludis_package/">paludis_package</a></li>
  <li><a href="/resources/portage_package/">portage_package</a></li>
  <li><a href="/resources/rpm_package/">rpm_package</a></li>
  <li><a href="/resources/smartos_package/">smartos_package</a></li>
  <li><a href="/resources/solaris_package/">solaris_package</a></li>
  <li><a href="/resources/windows_package/">windows_package </a></li>
  <li><a href="/resources/yum_package/">yum_package</a></li>
  <li><a href="/resources/zypper_package/">zypper_package</a></li>
</ul>
