<p>Use the <code>ps_credential</code> helper to embed a <code>PSCredential</code> object--- <a href="https://technet.microsoft.com/en-us/magazine/ff714574.aspx">a set of security credentials, such as a user name or password</a> ---within a script, which allows that script to be run using security credentials.</p>
<p>For example, assuming the <code>CertificateID</code> is configured in the local configuration manager, the <code>SeaPower1@3</code> object is created and embedded within the <code>seapower-user</code> script:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby">
<span id="cb1-1"><a href="#cb1-1"></a>   dsc_script <span class="st">&#39;seapower-user&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>     code &lt;&lt;-<span class="kw">EOH</span></span>
<span id="cb1-3"><a href="#cb1-3"></a><span class="ot">      User AlbertAtom</span></span>
<span id="cb1-4"><a href="#cb1-4"></a><span class="ot">      {</span></span>
<span id="cb1-5"><a href="#cb1-5"></a><span class="ot">         UserName = &#39;AlbertAtom&#39;</span></span>
<span id="cb1-6"><a href="#cb1-6"></a><span class="ot">         Password = #{</span>ps_credential(<span class="st">&#39;SeaPower1@3&#39;</span>)<span class="ot">}</span></span>
<span id="cb1-7"><a href="#cb1-7"></a><span class="ot">       }</span></span>
<span id="cb1-8"><a href="#cb1-8"></a><span class="ot">    </span><span class="kw">EOH</span></span>
<span id="cb1-9"><a href="#cb1-9"></a>    configuration_data &lt;&lt;-<span class="kw">EOH</span></span>
<span id="cb1-10"><a href="#cb1-10"></a><span class="ot">      @{</span></span>
<span id="cb1-11"><a href="#cb1-11"></a><span class="ot">        AllNodes = @(</span></span>
<span id="cb1-12"><a href="#cb1-12"></a><span class="ot">          @{</span></span>
<span id="cb1-13"><a href="#cb1-13"></a><span class="ot">            NodeName = &quot;localhost&quot;;</span></span>
<span id="cb1-14"><a href="#cb1-14"></a><span class="ot">            CertificateID = &#39;A8D1234559F349F7EF19104678908F701D4167&#39;</span></span>
<span id="cb1-15"><a href="#cb1-15"></a><span class="ot">          }</span></span>
<span id="cb1-16"><a href="#cb1-16"></a><span class="ot">        )</span></span>
<span id="cb1-17"><a href="#cb1-17"></a><span class="ot">      }</span></span>
<span id="cb1-18"><a href="#cb1-18"></a><span class="ot">    </span><span class="kw">EOH</span></span>
<span id="cb1-19"><a href="#cb1-19"></a><span class="ot">  </span><span class="kw">end</span></span></code></pre></div>
