<p>A resource may specify multiple packages and/or versions for platforms that use Yum, DNF, Apt, Zypper, or Chocolatey package managers. Specifying multiple packages and/or versions allows a single transaction to:</p>
<ul>
<li>Download the specified packages and versions via a single HTTP transaction</li>
<li>Update or install multiple packages with a single resource during a Chef Infra Client run</li>
</ul>
<p>For example, installing multiple packages:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>package <span class="ot">%w(</span><span class="st">package1 package2</span><span class="ot">)</span></span></code></pre></div>
<p>Installing multiple packages with versions:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb2-1"><a href="#cb2-1"></a>package <span class="ot">%w(</span><span class="st">package1 package2</span><span class="ot">)</span> <span class="kw">do</span></span>
<span id="cb2-2"><a href="#cb2-2"></a>  version [ <span class="st">&#39;1.3.4-2&#39;</span>, <span class="st">&#39;4.3.6-1&#39;</span>]</span>
<span id="cb2-3"><a href="#cb2-3"></a><span class="kw">end</span></span></code></pre></div>
<p>Upgrading multiple packages:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb3-1"><a href="#cb3-1"></a>package <span class="ot">%w(</span><span class="st">package1 package2</span><span class="ot">)</span>  <span class="kw">do</span></span>
<span id="cb3-2"><a href="#cb3-2"></a>  action <span class="st">:upgrade</span></span>
<span id="cb3-3"><a href="#cb3-3"></a><span class="kw">end</span></span></code></pre></div>
<p>Removing multiple packages:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb4-1"><a href="#cb4-1"></a>package <span class="ot">%w(</span><span class="st">package1 package2</span><span class="ot">)</span>  <span class="kw">do</span></span>
<span id="cb4-2"><a href="#cb4-2"></a>  action <span class="st">:remove</span></span>
<span id="cb4-3"><a href="#cb4-3"></a><span class="kw">end</span></span></code></pre></div>
<p>Purging multiple packages:</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb5-1"><a href="#cb5-1"></a>package <span class="ot">%w(</span><span class="st">package1 package2</span><span class="ot">)</span>  <span class="kw">do</span></span>
<span id="cb5-2"><a href="#cb5-2"></a>  action <span class="st">:purge</span></span>
<span id="cb5-3"><a href="#cb5-3"></a><span class="kw">end</span></span></code></pre></div>
<p>Notifications, via an implicit name:</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb6-1"><a href="#cb6-1"></a>package <span class="ot">%w(</span><span class="st">package1 package2</span><span class="ot">)</span>  <span class="kw">do</span></span>
<span id="cb6-2"><a href="#cb6-2"></a>  action <span class="st">:nothing</span></span>
<span id="cb6-3"><a href="#cb6-3"></a><span class="kw">end</span></span>
<span id="cb6-4"><a href="#cb6-4"></a></span>
<span id="cb6-5"><a href="#cb6-5"></a>log <span class="st">&#39;call a notification&#39;</span> <span class="kw">do</span></span>
<span id="cb6-6"><a href="#cb6-6"></a>  notifies <span class="st">:install</span>, <span class="st">&#39;package[package1, package2]&#39;</span>, <span class="st">:immediately</span></span>
<span id="cb6-7"><a href="#cb6-7"></a><span class="kw">end</span></span></code></pre></div>
<div class="note">
<div class="admonition-title">
<p>Note</p>
</div>
<p>Notifications and subscriptions do not need to be updated when packages and versions are added or removed from the <code>package_name</code> or <code>version</code> properties.</p>
</div>
