<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>gem_package <span class="st">&#39;nokogiri&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  gem_binary(<span class="st">&#39;/opt/ree/bin/gem&#39;</span>)</span>
<span id="cb1-3"><a href="#cb1-3"></a>  options(<span class="st">&#39;--prerelease --no-format-executable&#39;</span>)</span>
<span id="cb1-4"><a href="#cb1-4"></a><span class="kw">end</span></span></code></pre></div>
