<p>A resource may listen to another resource, and then take action if the state of the resource being listened to changes. Specify a <code>'resource[name]'</code>, the <code>:action</code> to be taken, and then the <code>:timer</code> for that action.</p>
<p>Note that <code>subscribes</code> does not apply the specified action to the resource that it listens to - for example:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>file <span class="st">&#39;/etc/nginx/ssl/example.crt&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  mode <span class="st">&#39;0600&#39;</span></span>
<span id="cb1-3"><a href="#cb1-3"></a>  owner <span class="st">&#39;root&#39;</span></span>
<span id="cb1-4"><a href="#cb1-4"></a><span class="kw">end</span></span>
<span id="cb1-5"><a href="#cb1-5"></a></span>
<span id="cb1-6"><a href="#cb1-6"></a>service <span class="st">&#39;nginx&#39;</span> <span class="kw">do</span></span>
<span id="cb1-7"><a href="#cb1-7"></a>  subscribes <span class="st">:reload</span>, <span class="st">&#39;file[/etc/nginx/ssl/example.crt]&#39;</span>, <span class="st">:immediately</span></span>
<span id="cb1-8"><a href="#cb1-8"></a><span class="kw">end</span></span></code></pre></div>
<p>In this case the <code>subscribes</code> property reloads the <code>nginx</code> service whenever its certificate file, located under <code>/etc/nginx/ssl/example.crt</code>, is updated. <code>subscribes</code> does not make any changes to the certificate file itself, it merely listens for a change to the file, and executes the <code>:reload</code> action for its resource (in this example <code>nginx</code>) when a change is detected.</p>
