<p>The <code>guard_interpreter</code> property may be set to any of the following values:</p>
<dl>
<dt><code>:bash</code></dt>
<dd><p>Evaluates a string command using the <strong>bash</strong> resource.</p>
</dd>
<dt><code>:batch</code></dt>
<dd><p>Evaluates a string command using the <strong>batch</strong> resource. Default value (within a <strong>batch</strong> resource block): <code>:batch</code>.</p>
</dd>
<dt><code>:csh</code></dt>
<dd><p>Evaluates a string command using the <strong>csh</strong> resource.</p>
</dd>
<dt><code>:default</code></dt>
<dd><p>Default. Executes the default interpreter as identified by Chef Infra Client.</p>
</dd>
<dt><code>:perl</code></dt>
<dd><p>Evaluates a string command using the <strong>perl</strong> resource.</p>
</dd>
<dt><code>:powershell_script</code></dt>
<dd><p>Evaluates a string command using the <strong>powershell_script</strong> resource. Default value (within a <strong>batch</strong> resource block): <code>:powershell_script</code>.</p>
</dd>
<dt><code>:python</code></dt>
<dd><p>Evaluates a string command using the <strong>python</strong> resource.</p>
</dd>
<dt><code>:ruby</code></dt>
<dd><p>Evaluates a string command using the <strong>ruby</strong> resource.</p>
</dd>
</dl>
