<p>The following example shows how to use the <code>not_if</code> condition to create a file based on a template and using the presence of an attribute value on the node to specify the condition:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>template <span class="st">&#39;/tmp/somefile&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  mode <span class="st">&#39;0755&#39;</span></span>
<span id="cb1-3"><a href="#cb1-3"></a>  source <span class="st">&#39;somefile.erb&#39;</span></span>
<span id="cb1-4"><a href="#cb1-4"></a>  not_if { node[<span class="st">&#39;some_value&#39;</span>] }</span>
<span id="cb1-5"><a href="#cb1-5"></a><span class="kw">end</span></span></code></pre></div>
