<p>A template helper module can be defined inline on a per-resource basis. This approach can be useful when a template requires more complex information. For example:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a>template <span class="st">&#39;/path&#39;</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  helpers <span class="kw">do</span></span>
<span id="cb1-3"><a href="#cb1-3"></a></span>
<span id="cb1-4"><a href="#cb1-4"></a>    <span class="kw">def</span> hello_world</span>
<span id="cb1-5"><a href="#cb1-5"></a>      <span class="st">&#39;hello world&#39;</span></span>
<span id="cb1-6"><a href="#cb1-6"></a>    <span class="kw">end</span></span>
<span id="cb1-7"><a href="#cb1-7"></a></span>
<span id="cb1-8"><a href="#cb1-8"></a>    <span class="kw">def</span> app</span>
<span id="cb1-9"><a href="#cb1-9"></a>      node[<span class="st">&#39;app&#39;</span>]</span>
<span id="cb1-10"><a href="#cb1-10"></a>    <span class="kw">end</span></span>
<span id="cb1-11"><a href="#cb1-11"></a></span>
<span id="cb1-12"><a href="#cb1-12"></a>    <span class="kw">def</span> app_conf(setting)</span>
<span id="cb1-13"><a href="#cb1-13"></a>      node[<span class="st">&#39;app&#39;</span>][<span class="st">&#39;setting&#39;</span>]</span>
<span id="cb1-14"><a href="#cb1-14"></a>    <span class="kw">end</span></span>
<span id="cb1-15"><a href="#cb1-15"></a></span>
<span id="cb1-16"><a href="#cb1-16"></a>  <span class="kw">end</span></span>
<span id="cb1-17"><a href="#cb1-17"></a><span class="kw">end</span></span></code></pre></div>
<p>where the <code>hello_world</code>, <code>app</code>, and <code>app_conf(setting)</code> methods comprise the module that extends a template.</p>
