<p>A cookbook may have a <code>/templates</code> directory structure like this:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb1-1"><a href="#cb1-1"></a><span class="ot">/templates/</span></span>
<span id="cb1-2"><a href="#cb1-2"></a>  windows<span class="dv">-6</span>.<span class="dv">2</span></span>
<span id="cb1-3"><a href="#cb1-3"></a>  windows<span class="dv">-6</span>.<span class="dv">1</span></span>
<span id="cb1-4"><a href="#cb1-4"></a>  windows<span class="dv">-6</span>.<span class="dv">0</span></span>
<span id="cb1-5"><a href="#cb1-5"></a>  windows</span>
<span id="cb1-6"><a href="#cb1-6"></a>  default</span></code></pre></div>
<p>and a resource that looks something like the following:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb2-1"><a href="#cb2-1"></a>template <span class="st">&#39;C:\path\to\file\text_file.txt&#39;</span> <span class="kw">do</span></span>
<span id="cb2-2"><a href="#cb2-2"></a>  source <span class="st">&#39;text_file.txt&#39;</span></span>
<span id="cb2-3"><a href="#cb2-3"></a>  mode <span class="st">&#39;0755&#39;</span></span>
<span id="cb2-4"><a href="#cb2-4"></a>  owner <span class="st">&#39;root&#39;</span></span>
<span id="cb2-5"><a href="#cb2-5"></a>  group <span class="st">&#39;root&#39;</span></span>
<span id="cb2-6"><a href="#cb2-6"></a><span class="kw">end</span></span></code></pre></div>
<p>This resource would be matched in the same order as the <code>/templates</code> directory structure. For a node named <code>host-node-desktop</code> that is running Windows 7, the second item would be the matching item and the location:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span id="cb3-1"><a href="#cb3-1"></a><span class="ot">/templates</span></span>
<span id="cb3-2"><a href="#cb3-2"></a><span class="ot">  windows-6.2/</span>text_file.txt</span>
<span id="cb3-3"><a href="#cb3-3"></a>  windows<span class="dv">-6</span>.<span class="dv">1</span>/text_file.txt</span>
<span id="cb3-4"><a href="#cb3-4"></a>  windows<span class="dv">-6</span>.<span class="dv">0</span>/text_file.txt</span>
<span id="cb3-5"><a href="#cb3-5"></a>  windows/text_file.txt</span>
<span id="cb3-6"><a href="#cb3-6"></a>  default/text_file.txt</span></code></pre></div>
