Use the **user** resource to add users, update existing users, remove
users, and to lock/unlock user passwords.

<div class="note" markdown="1">

<div class="admonition-title" markdown="1">

Note

</div>

System attributes are collected by Ohai at the start of every Chef Infra
Client run. By design, the actions available to the **user** resource
are processed **after** the start of a Chef Infra Client run. This means
that system attributes added or modified by the **user** resource during
a Chef Infra Client run must be reloaded before they can be available to
Chef Infra Client. These system attributes can be reloaded in two ways:
by picking up the values at the start of the (next) Chef Infra Client
run or by using the [ohai resource](/resource_ohai/) to reload the
system attributes during the current Chef Infra Client run.

</div>