/* Colors
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 * #f18b21 is $chef-orange
 * #3f5364 is $chef-dark-blue
 * 
 * #3f5364 is used for text color and header colors
 * #f18b21 for header underlines and border treatments
 * 
 * For div.admonition: #6bb2e2
 * For div.warning: #fdb714
 * 
 * For subheaders and other treatments: #7d868c, then #b5bec6, then #d8dde3
 * For table headers: #7d868c (with #000000 text color)
 * For links: #6bb2e2, rollover #f18b21
 *
 * For div.related, the 8px ensures that the | is spaced evenly.
 *
 */

 $chef-orange: #f18b21;
 $chef-dark-blue: #3f5364;
 $chef-light-blue: #6bb2e2;
 $chef-green: #5ab7b2;
 $chef-yellow: #fdb714;
 $chef-grey: #7d868c;
 $chef-dark-grey: #3e4346;
 $chef-white: #ffffff;

/* Fonts
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * $primary: 
 *   Montserrat is used for the top global navigation and the grey nav on the left,
 *   as well as the global flyout menu on the right (hidden by default).
 *
 * $secondary: 
 *   Helvetica Neue is used for the body text and the Table of Contents on the right.
 * 
 * $mono: 
 *   Consolas is used for monospace text. 
 */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$primary: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$secondary: "Helvetica Neue", "Helvetica", Arial, sans-serif;
$mono: "Consolas", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;

/* Icons
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Use Font Awesome for iconography
 * Read more about use here: https://fortawesome.github.io/Font-Awesome/icons/
 * 
 */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);