{{ define "main" }}

  <main id="main-content-col" tabindex="-1">
    <div id="col-content" data-swiftype-index='true'>

      <h1 id="{{ anchorize ( .Title )}}">{{ .Title }}</h1>

      <button type="button" class="TOC-button hide-for-large" data-toggle="offCanvasRightTOC"
        data-close="left-nav-off-canvas" data-swiftype-index='false'>
        <i class="fas fa-bars"></i> Table of Contents
      </button>

      <div class="prose">


      {{ $yaml_files := index $.Site.Data .Params.data_path }}
      {{ $departments := slice }}

        {{ range $yamlfile := $yaml_files }}
          {{ $departments = $departments | append (slice $yamlfile.department ) | uniq }}
        {{ end }}

      {{ range $department := $departments }}
        <h2 id={{anchorize $department }}>{{ $department }}</h2>
        <ul>
          {{ range $yamlfile, $yaml:= $yaml_files }}

              {{ if eq $yaml.department $department}}
                {{ $full_name := $yaml.full_name | replaceRE `\/` `_` | lower }}
                <li><a href="/workstation/cookstyle/{{ $full_name }}/">{{ $yaml.short_name }}</a></li>
              {{ end }}

          {{ end }}
          </ul>
      {{ end }}

    </div>
    {{ partialCached "feedback" . }}
  </main>
{{ end }}
