<div class="warning" markdown="1">

<div class="admonition-title" markdown="1">

Warning

</div>

ChefDK 2.0 or later should only be installed on runners that are
associated with Chef Automate 1.5 or later. Using ChefDK 2.0 on runners
that are associated with an earlier version of Chef Automate will result
in an error during deployment. If you are running an older version of
Chef Automate, you should either downgrade your runners to use ChefDK
1.x or upgrade to Chef Automate 1.5 or later.

</div>