<div class="danger" markdown="1">

<div class="admonition-title" markdown="1">

Danger

</div>

This documentation applies to a deprecated version of Chef Automate and
will reach its [End-Of-Life on December 31,
2019](/versions.html#deprecated-products-and-versions). See the [Chef
Automate site](https://automate.chef.io/docs/quickstart/) for current
documentation. The new Chef Automate includes newer out-of-the-box
compliance profiles, an improved compliance scanner with total cloud
scanning functionality, better visualizations, role-based access control
and many other features. The new Chef Automate is included as part of
the Chef Automate license agreement and is [available via
subscription](https://www.chef.io/pricing/).

</div>