For front-end servers, ensure that ports marked as external (marked as
`yes` in the **External** column) are open and accessible via any
firewalls that are in use:

<table>
<colgroup>
<col style="width: 11%" />
<col style="width: 77%" />
<col style="width: 11%" />
</colgroup>
<thead>
<tr class="header">
<th>Port</th>
<th>Service Name, Description</th>
<th>External</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><p>80, 443, 9683</p></td>
<td><p><strong>nginx</strong></p>
<p><!-- tag server_services_nginx --></p>
<p>The <strong>nginx</strong> service is used to manage traffic to the Chef Infra Server, including virtual hosts for internal and external API request/response routing, external add-on request routing, and routing between front- and back-end components.</p>
<p><!-- end_tag --></p>
<div class="note">
<div class="admonition-title">
<p>Note</p>
</div>
<p>Port 9683 is used to internally load balance the <strong>oc_bifrost</strong> service.</p>
</div></td>
<td><p>yes</p></td>
</tr>
<tr class="even">
<td><p>9463</p></td>
<td><p><strong>oc_bifrost</strong></p>
<p><!-- tag server_services_bifrost --></p>
<p>The <strong>oc_bifrost</strong> service ensures that every request to view or manage objects stored on the Chef Infra Server is authorized.</p>
<p><!-- end_tag --></p></td>
<td></td>
</tr>
<tr class="odd">
<td><p>9090</p></td>
<td><p><strong>oc-id</strong></p>
<p><!-- tag server_services_oc_id --></p>
<p>The <strong>oc-id</strong> service enables OAuth 2.0 authentication to the Chef Infra Server by external applications, including Chef Supermarket. OAuth 2.0 uses token-based authentication, where external applications use tokens that are issued by the <strong>oc-id</strong> provider. No special credentials---<code>webui_priv.pem</code> or privileged keys---are stored on the external application.</p>
<p><!-- end_tag --></p></td>
<td></td>
</tr>
<tr class="even">
<td><p>8000</p></td>
<td><p><strong>opscode-erchef</strong></p>
<p><!-- tag server_services_erchef --></p>
<p>The <strong>opscode-erchef</strong> service is an Erlang-based service that is used to handle Chef Infra Server API requests to the following areas within the Chef Infra Server:</p>
<ul>
<li>Cookbooks</li>
<li>Data bags</li>
<li>Environments</li>
<li>Nodes</li>
<li>Roles</li>
<li>Sandboxes</li>
<li>Search</li>
</ul>
<p><!-- end_tag --></p></td>
<td></td>
</tr>
</tbody>
</table>