For back-end servers in a tiered Chef Infra Server installation, ensure
that ports marked as external (marked as `yes` in the **External**
column) are open and accessible via any firewalls that are in use:

<table>
<colgroup>
<col style="width: 11%" />
<col style="width: 77%" />
<col style="width: 11%" />
</colgroup>
<thead>
<tr class="header">
<th>Port</th>
<th>Service Name, Description</th>
<th>External</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><p>80, 443, 9683</p></td>
<td><p><strong>nginx</strong></p>
<p><!-- tag server_services_nginx --></p>
<p>The <strong>nginx</strong> service is used to manage traffic to the Chef Infra Server, including virtual hosts for internal and external API request/response routing, external add-on request routing, and routing between front- and back-end components.</p>
<p><!-- end_tag --></p>
<div class="note">
<div class="admonition-title">
<p>Note</p>
</div>
<p>Port 9683 is used to internally load balance the <strong>oc_bifrost</strong> service.</p>
</div></td>
<td><p>yes</p></td>
</tr>
<tr class="even">
<td><p>9463</p></td>
<td><p><strong>oc_bifrost</strong></p>
<p><!-- tag server_services_bifrost --></p>
<p>The <strong>oc_bifrost</strong> service ensures that every request to view or manage objects stored on the Chef Infra Server is authorized.</p>
<p><!-- end_tag --></p></td>
<td></td>
</tr>
<tr class="odd">
<td><p>8983</p></td>
<td><p><strong>opscode-solr4</strong></p>
<p><!-- tag server_services_solr4 --></p>
<p>The <strong>opscode-solr4</strong> service is used to create the search indexes used for searching objects like nodes, data bags, and cookbooks. (This service ensures timely search results via the Chef Infra Server API; data that is used by the Chef platform is stored in PostgreSQL.)</p>
<p><!-- end_tag --></p></td>
<td></td>
</tr>
<tr class="even">
<td><p>5432</p></td>
<td><p><strong>postgresql</strong></p>
<p><!-- tag server_services_postgresql --></p>
<p>The <strong>postgresql</strong> service is used to store node, object, and user data.</p>
<p><!-- end_tag --></p></td>
<td></td>
</tr>
<tr class="odd">
<td><p>5672, 15672</p></td>
<td><p><strong>rabbitmq</strong></p>
<p><!-- tag server_services_rabbitmq --></p>
<p>The <strong>rabbitmq</strong> service is used to provide the message queue that is used by the Chef Infra Server to get search data to Apache Solr so that it can be indexed for search.</p>
<p><!-- end_tag --></p></td>
<td></td>
</tr>
<tr class="even">
<td><p>16379</p></td>
<td><p><strong>redis_lb</strong></p>
<p><!-- tag server_services_redis --></p>
<p>Key-value store used in conjunction with Nginx to route requests and populate request data used by the Chef Infra Server.</p>
<p><!-- end_tag --></p></td>
<td></td>
</tr>
<tr class="odd">
<td><p>4321</p></td>
<td><p><strong>bookshelf</strong></p>
<p><!-- tag server_services_bookshelf --></p>
<p>The <strong>bookshelf</strong> service is an Amazon Simple Storage Service (S3)-compatible service that is used to store cookbooks, including all of the files---recipes, templates, and so on---that are associated with each cookbook.</p>
<p><!-- end_tag --></p></td>
<td></td>
</tr>
<tr class="even">
<td><p>8000</p></td>
<td><p><strong>opscode-erchef</strong></p>
<p><!-- tag server_services_erchef --></p>
<p>The <strong>opscode-erchef</strong> service is an Erlang-based service that is used to handle Chef Infra Server API requests to the following areas within the Chef Infra Server:</p>
<ul>
<li>Cookbooks</li>
<li>Data bags</li>
<li>Environments</li>
<li>Nodes</li>
<li>Roles</li>
<li>Sandboxes</li>
<li>Search</li>
</ul>
<p><!-- end_tag --></p></td>
<td></td>
</tr>
</tbody>
</table>