All machines in a Chef Infra Server deployment have the following
hardware requirements. Disk space for standalone and backend servers
should scale up with the number of nodes that the servers are managing.
A good rule to follow is to allocate 2 MB per node. The disk values
listed below should be a good default value that you will want to modify
later if/when your node count grows. Fast, redundant storage
(SSD/RAID-based solution either on-prem or in a cloud environment) is
preferred.

**All Deployments**

-   64-bit architecture

**Standalone Deployments**

-   4 total cores (physical or virtual)
-   8 GB of RAM or more
-   5 GB of free disk space in `/opt`
-   5 GB of free disk space in `/var`

<div class="alert-info">

The RAM requirement can be lowered down to a minimum of 4 GB of RAM if
the number of Chef Infra Client runs (CCRs) per minute are low (i.e.
less than 33 CCRs/min). See [Capacity
Planning](/server_overview.html#capacity-planning) for more information
on how this metric affects scalability.

</div>

For a high availability deployment:

**General Requirements**

-   Three backend servers; as many frontend servers as required
-   1 x GigE NIC interface (if on premises)

<!-- tag system_requirements_ha -->

**Frontend Requirements**

-   4 cores (physical or virtual)
-   4GB RAM
-   20 GB of free disk space (SSD if on premises, Premium Storage in
    Microsoft Azure, EBS-Optimized GP2 in AWS)

**Backend Requirements**

-   2 cores (physical or virtual)
-   8GB RAM
-   50 GB/backend server (SSD if on premises, Premium Storage in
    Microsoft Azure, EBS-Optimized GP2 in AWS)

<div class="alert-warning">

The Chef Infra Server MUST NOT use a network file system of any
type---virtual or physical---for backend storage. The Chef Infra Server
database operates quickly. The behavior of operations, such as the
writing of log files, will be unpredictable when run over a network file
system.

</div>

<!-- end_tag -->