# This is a basic workflow to help you get started with Actions

name: lint

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events
  pull_request:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
      - uses: carlosperate/download-file-action@v1.0.3
        id: download-custom-dictionary
        with:
          file-url: 'https://raw.githubusercontent.com/chef/chef_dictionary/main/chef.txt'
          file-name: 'chef_dictionary.txt'
      - run: pwd
      - run: echo "The file was downloaded to ${{ steps.download-custom-dictionary.outputs.file-path }}"
      - run: ls -la
      - uses: zwaldowski/cspell-action@v1
        with:
          config: '../../cspell.json'
          paths: '**/*.md'
          exclude: '_vendor/'
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
      - uses: DavidAnson/markdownlint-cli2-action@v4
        with: 
          globs: |
            '**/*.md'
