# This is a basic workflow to help you get started with Actions

name: lint

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events
  pull_request:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  cspell-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
      - uses: streetsidesoftware/cspell-action@v2.1.1
        with:
          files: '*.md'
          root: './content'
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          incremental_files_only: true
          inline: error
          strict: true
          # Path to `cspell.json`
          config: '.'
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
      - uses: carlosperate/download-file-action@v1.0.3
        id: download-mdl-config
        with:
          file-url: 'https://raw.githubusercontent.com/chef/chef-web-docs/main/.markdownlint.yaml'
          file-name: 'markdownlint.yaml'
      - uses: DavidAnson/markdownlint-cli2-action@v4
        with:
          globs: |
            *.md
            content/**/*.md
            !_vendor/
            !content/resources/_index.md
            !content/habitat/
            !infra_resources_readme.md
  stylelint:
    runs-on: ubuntu-latest
    steps:
      - name: "Download vale-chef"
        uses: Legion2/download-release-action@v2.1.0
        with:
          repository: chef/vale-chef
          tag: 'v0.2.4'
          path: tools/vale/chef
          token: "${{ secrets.GITHUB_TOKEN }}"
      - uses: errata-ai/vale-action@v1
        with:
          config: https://raw.githubusercontent.com/chef/chef-web-docs/main/.vale.ini
          files: __onlyModified
        env: 
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
            
