# This is a basic workflow to help you get started with Actions

name: lint

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: carlosperate/download-file-action@v1.0.3
        id: download-custom-dictionary
        with:
          file-url: 'https://raw.githubusercontent.com/chef/chef_dictionary/main/chef.txt'
          file-name: 'chef_dictionary.txt'
      - uses: zwaldowski/cspell-action@v1
        with:
          config: cspell.json
          paths: "**/*"
      strict: true
      root: '../../content/'
      incremental_files_only: true
  markdownlint:
    steps:
      - uses: actions/checkout@v2
      - uses: DavidAnson/markdownlint-cli2-action@v4
        with: 
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          globs: |
            *.md
        rules: '../../.markdownlint.yaml'
      strict: true
      root: '../../content/'
      incremental_files_only: true

